# FILTERING, CLEANING ON COLAB

In [1]:
# from google.colab import drive
# drive.mount('/content/drive')

In [119]:
import numpy as np
import pandas as pd
import os

In [2]:
os.chdir(r"/content/drive/Shareddrives/DATA 228 Big Data/Project/data/raw_source")

In [3]:
df= pd.read_csv("FimaNfipPolicies.csv", low_memory=False)
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61414284 entries, 0 to 61414283
Data columns (total 46 columns):
 #   Column                              Non-Null Count     Dtype
---  ------                              --------------     -----
 0   agricultureStructureIndicator       61414284 non-null  int64
 1   baseFloodElevation                  21542776 non-null  float64
 2   cancellationDateOfFloodPolicy       1741 non-null      object
 3   censusTract                         61061610 non-null  float64
 4   condominiumIndicator                61313846 non-null  object
 5   construction                        61414284 non-null  int64
 6   countyCode                          61205339 non-null  float64
 7   crsClassCode                        44476261 non-null  float64
 8   deductibleAmountInBuildingCoverage  60528991 non-null  object
 9   deductibleAmountInContentsCoverage  53618865 non-null  object
 10  elevationCertificateIndicator       0 non-null         float64
 11  elevationDifference                 21837324 non-null  float64
 12  federalPolicyFee                    61414284 non-null  int64
 13  floodZone                           61117567 non-null  object
 14  hfiaaSurcharge                      61414284 non-null  int64
 15  houseOfWorshipIndicator             61414284 non-null  int64
 16  latitude                            61358571 non-null  float64
 17  locationOfContents                  43594019 non-null  float64
 18  longitude                           61358571 non-null  float64
 19  lowestAdjacentGrade                 61414284 non-null  float64
 20  lowestFloorElevation                21685382 non-null  float64
 21  nonProfitIndicator                  61414284 non-null  int64
 22  obstructionType                     12154630 non-null  float64
 23  occupancyType                       61386172 non-null  float64
 24  originalConstructionDate            61390004 non-null  object
 25  originalNBDate                      61413959 non-null  object
 26  policyCost                          61414284 non-null  int64
 27  policyCount                         61414284 non-null  int64
 28  policyEffectiveDate                 61414284 non-null  object
 29  policyTermIndicator                 61414126 non-null  float64
 30  postFIRMConstructionIndicator       61414284 non-null  int64
 31  primaryResidenceIndicator           61414284 non-null  int64
 32  propertyState                       61408938 non-null  object
 33  reportedZipCode                     61404439 non-null  object
 34  rateMethod                          61413966 non-null  object
 35  regularEmergencyProgramIndicator    61414284 non-null  object
 36  reportedCity                        61414284 non-null  object
 37  smallBusinessIndicatorBuilding      61414284 non-null  int64
 38  totalBuildingInsuranceCoverage      61413974 non-null  float64
 39  totalContentsInsuranceCoverage      61412077 non-null  float64
 40  totalInsurancePremiumOfThePolicy    61414126 non-null  float64
 41  id                                  61414284 non-null  object
 42  basementEnclosureCrawlspace         25084227 non-null  float64
 43  elevationBuildingIndicator          61414284 non-null  int64
 44  numberOfFloorsInTheInsuredBuilding  61206149 non-null  float64
 45  policyTerminationDate               61414284 non-null  object
dtypes: float64(19), int64(12), object(15)
memory usage: 21.0+ GB

In [4]:
df['propertyState'].value_counts()

FL    18082203
TX     9196514
LA     6895258
CA     3324197
NJ     2502910
SC     2246760
NY     2214028
NC     1818676
VA     1413127
GA     1237374
MS      959931
PA      850968
MA      668375
MD      632060
AL      587811
WA      574968
IL      548811
OH      495017
AZ      448012
CT      442891
TN      415594
OR      404860
IN      370379
MO      326571
KY      318686
MI      318592
PR      303075
DE      286229
CO      262110
AR      256257
WV      254125
HI      252152
OK      216646
NM      207809
IA      203055
WI      201543
RI      179586
ND      178048
NV      176813
NE      159339
MN      158358
KS      157808
ME      112832
NH       98006
ID       88618
MT       74370
SD       67527
VT       54017
UT       50356
AK       38709
WY       31460
DC       21406
VI       18625
GU        3156
AS        2086
UN         126
MP         118
Name: propertyState, dtype: int64

In [5]:
df= df[df['propertyState']=='CA']
df.shape

(3324197, 46)

In [6]:
df

,agricultureStructureIndicator,baseFloodElevation,cancellationDateOfFloodPolicy,censusTract,condominiumIndicator,construction,countyCode,crsClassCode,deductibleAmountInBuildingCoverage,deductibleAmountInContentsCoverage,...,reportedCity,smallBusinessIndicatorBuilding,totalBuildingInsuranceCoverage,totalContentsInsuranceCoverage,totalInsurancePremiumOfThePolicy,id,basementEnclosureCrawlspace,elevationBuildingIndicator,numberOfFloorsInTheInsuredBuilding,policyTerminationDate
859,0,NaN,NaN,6.113010e+09,N,0,6113.0,6.0,1,1,...,Temporarily Unavailable,0,75000.0,30000.0,259.0,5aea9762-0e86-4909-b6c4-dac850c172f5,NaN,0,1.0,2015-03-04T00:00:00.000Z
862,0,NaN,NaN,6.113010e+09,N,0,6113.0,6.0,1,1,...,Temporarily Unavailable,0,75000.0,30000.0,227.0,b111cb7e-6e4a-41ab-b15f-73765fc7387a,NaN,0,1.0,2013-03-04T00:00:00.000Z
1633,0,NaN,NaN,6.067004e+09,N,0,6067.0,3.0,F,F,...,Temporarily Unavailable,0,250000.0,100000.0,507.0,abf8492b-6756-4e4d-91f7-bf9093bffc6c,0.0,0,1.0,2023-03-03T00:00:00.000Z
1635,0,NaN,NaN,6.067004e+09,N,0,6067.0,3.0,F,F,...,Temporarily Unavailable,0,250000.0,100000.0,442.0,afc6326c-0ebf-4832-8b7b-10e3abc62133,0.0,0,1.0,2022-03-03T00:00:00.000Z
1637,0,NaN,NaN,6.067004e+09,N,0,6067.0,3.0,F,F,...,Temporarily Unavailable,0,250000.0,100000.0,395.0,3b5f7eba-6dac-49fe-877e-66b9f8952aec,0.0,0,1.0,2021-03-03T00:00:00.000Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61413848,0,22.0,NaN,6.001434e+09,N,0,6001.0,8.0,2,0,...,Temporarily Unavailable,0,177100.0,0.0,1285.0,69b3a1c1-b244-4e00-b0e8-473bf5279220,4.0,1,1.0,2014-03-02T00:00:00.000Z
61413851,0,22.0,NaN,6.001434e+09,N,0,6001.0,8.0,2,0,...,Temporarily Unavailable,0,161000.0,0.0,1074.0,c34a9987-1488-4bb8-88a8-8392221f1bf2,4.0,1,1.0,2013-03-02T00:00:00.000Z
61413854,0,22.0,NaN,6.001434e+09,N,0,6001.0,8.0,2,0,...,Temporarily Unavailable,0,160600.0,0.0,1017.0,d35ca547-fc08-4d7e-b06e-787913fe1117,4.0,1,1.0,2012-03-02T00:00:00.000Z
61413857,0,22.0,NaN,6.001434e+09,N,0,6001.0,8.0,2,0,...,Temporarily Unavailable,0,146000.0,0.0,919.0,d323cffe-d262-48df-8d89-9d8cabf345de,4.0,1,1.0,2011-03-02T00:00:00.000Z
61413859,0,22.0,NaN,6.001434e+09,N,0,6001.0,8.0,1,0,...,Temporarily Unavailable,0,146000.0,0.0,876.0,940cc0af-54f8-427a-826a-b7e00b13c30c,4.0,1,1.0,2010-03-02T00:00:00.000Z

In [7]:
df.columns

Index(['agricultureStructureIndicator', 'baseFloodElevation',
       'cancellationDateOfFloodPolicy', 'censusTract', 'condominiumIndicator',
       'construction', 'countyCode', 'crsClassCode',
       'deductibleAmountInBuildingCoverage',
       'deductibleAmountInContentsCoverage', 'elevationCertificateIndicator',
       'elevationDifference', 'federalPolicyFee', 'floodZone',
       'hfiaaSurcharge', 'houseOfWorshipIndicator', 'latitude',
       'locationOfContents', 'longitude', 'lowestAdjacentGrade',
       'lowestFloorElevation', 'nonProfitIndicator', 'obstructionType',
       'occupancyType', 'originalConstructionDate', 'originalNBDate',
       'policyCost', 'policyCount', 'policyEffectiveDate',
       'policyTermIndicator', 'postFIRMConstructionIndicator',
       'primaryResidenceIndicator', 'propertyState', 'reportedZipCode',
       'rateMethod', 'regularEmergencyProgramIndicator', 'reportedCity',
       'smallBusinessIndicatorBuilding', 'totalBuildingInsuranceCoverage',
       'totalContentsInsuranceCoverage', 'totalInsurancePremiumOfThePolicy',
       'id', 'basementEnclosureCrawlspace', 'elevationBuildingIndicator',
       'numberOfFloorsInTheInsuredBuilding', 'policyTerminationDate'],
      dtype='object')

In [8]:
df['floodZone'].value_counts()

X      1432979
AE      467988
A99     339378
AO      256049
A       250882
AOB     160374
AH      107311
C       100780
B        78570
AHB      38904
D        15317
A01      11942
VE        6052
A04       5977
A05       5410
A02       5284
AR        5164
A06       4858
A07       4786
A09       2609
A03       2424
A08       2367
A11       1546
A22       1438
A14       1228
A28       1102
A21        683
A10        583
V05        578
A12        566
A13        511
A15        459
V          420
A16        388
A23        352
V04        309
A20        306
A18        229
A17        227
A30        224
V06        164
A27        157
A24        123
V08        115
A25         95
V01         80
A26         72
A19         70
V15         52
V10         36
V07         27
V03         21
V02         18
Name: floodZone, dtype: int64

In [9]:
df.shape

(3324197, 46)

In [10]:
df.isna().sum()

agricultureStructureIndicator               0
baseFloodElevation                    2787854
cancellationDateOfFloodPolicy         3323998
censusTract                              8736
condominiumIndicator                     1003
construction                                0
countyCode                               5987
crsClassCode                          1043957
deductibleAmountInBuildingCoverage      27275
deductibleAmountInContentsCoverage     762798
elevationCertificateIndicator         3324197
elevationDifference                   2777823
federalPolicyFee                            0
floodZone                                6613
hfiaaSurcharge                              0
houseOfWorshipIndicator                     0
latitude                                 1283
locationOfContents                    1411345
longitude                                1283
lowestAdjacentGrade                         0
lowestFloorElevation                  2777455
nonProfitIndicator                          0
obstructionType                       2791418
occupancyType                            1149
originalConstructionDate                  836
originalNBDate                             10
policyCost                                  0
policyCount                                 0
policyEffectiveDate                         0
policyTermIndicator                        71
postFIRMConstructionIndicator               0
primaryResidenceIndicator                   0
propertyState                               0
reportedZipCode                            77
rateMethod                                 92
regularEmergencyProgramIndicator            0
reportedCity                                0
smallBusinessIndicatorBuilding              0
totalBuildingInsuranceCoverage             71
totalContentsInsuranceCoverage            331
totalInsurancePremiumOfThePolicy           71
id                                          0
basementEnclosureCrawlspace           1987715
elevationBuildingIndicator                  0
numberOfFloorsInTheInsuredBuilding        842
policyTerminationDate                       0
dtype: int64

In [11]:
df= df[df['countyCode'].notna()]
df= df[df['floodZone'].notna()]
df.reset_index(inplace=True, drop=True)
df.shape

(3312231, 46)

In [12]:
df.columns

Index(['agricultureStructureIndicator', 'baseFloodElevation',
       'cancellationDateOfFloodPolicy', 'censusTract', 'condominiumIndicator',
       'construction', 'countyCode', 'crsClassCode',
       'deductibleAmountInBuildingCoverage',
       'deductibleAmountInContentsCoverage', 'elevationCertificateIndicator',
       'elevationDifference', 'federalPolicyFee', 'floodZone',
       'hfiaaSurcharge', 'houseOfWorshipIndicator', 'latitude',
       'locationOfContents', 'longitude', 'lowestAdjacentGrade',
       'lowestFloorElevation', 'nonProfitIndicator', 'obstructionType',
       'occupancyType', 'originalConstructionDate', 'originalNBDate',
       'policyCost', 'policyCount', 'policyEffectiveDate',
       'policyTermIndicator', 'postFIRMConstructionIndicator',
       'primaryResidenceIndicator', 'propertyState', 'reportedZipCode',
       'rateMethod', 'regularEmergencyProgramIndicator', 'reportedCity',
       'smallBusinessIndicatorBuilding', 'totalBuildingInsuranceCoverage',
       'totalContentsInsuranceCoverage', 'totalInsurancePremiumOfThePolicy',
       'id', 'basementEnclosureCrawlspace', 'elevationBuildingIndicator',
       'numberOfFloorsInTheInsuredBuilding', 'policyTerminationDate'],
      dtype='object')

In [13]:
df.drop(columns=['agricultureStructureIndicator', 'baseFloodElevation',
       'censusTract', 'condominiumIndicator',
       'construction', 'crsClassCode',
       'deductibleAmountInBuildingCoverage',
       'deductibleAmountInContentsCoverage', 'elevationCertificateIndicator',
       'elevationDifference', 'federalPolicyFee','hfiaaSurcharge', 
       'locationOfContents', 'lowestAdjacentGrade',
       'lowestFloorElevation', 'nonProfitIndicator', 'obstructionType',
       'originalConstructionDate', 'originalNBDate',  'postFIRMConstructionIndicator',
       'primaryResidenceIndicator', 'propertyState', 'rateMethod', 'regularEmergencyProgramIndicator', 
                 'smallBusinessIndicatorBuilding','basementEnclosureCrawlspace', 'elevationBuildingIndicator', 'reportedCity', 'houseOfWorshipIndicator'], inplace=True)

In [14]:
df.isna().sum()

cancellationDateOfFloodPolicy         3312033
countyCode                                  0
floodZone                                   0
latitude                                   15
longitude                                  15
occupancyType                               3
policyCost                                  0
policyCount                                 0
policyEffectiveDate                         0
policyTermIndicator                        71
reportedZipCode                            77
totalBuildingInsuranceCoverage             71
totalContentsInsuranceCoverage            331
totalInsurancePremiumOfThePolicy           71
id                                          0
numberOfFloorsInTheInsuredBuilding         14
policyTerminationDate                       0
dtype: int64

In [23]:
df.drop(columns=['cancellationDateOfFloodPolicy'], inplace=True)

In [25]:
df.shape

(3312231, 16)

In [26]:
df.dropna(inplace=True)
df.isna().sum()

countyCode                            0
floodZone                             0
latitude                              0
longitude                             0
occupancyType                         0
policyCost                            0
policyCount                           0
policyEffectiveDate                   0
policyTermIndicator                   0
reportedZipCode                       0
totalBuildingInsuranceCoverage        0
totalContentsInsuranceCoverage        0
totalInsurancePremiumOfThePolicy      0
id                                    0
numberOfFloorsInTheInsuredBuilding    0
policyTerminationDate                 0
dtype: int64

In [27]:
df.shape

(3311794, 16)

In [28]:
df.columns

Index(['countyCode', 'floodZone', 'latitude', 'longitude', 'occupancyType',
       'policyCost', 'policyCount', 'policyEffectiveDate',
       'policyTermIndicator', 'reportedZipCode',
       'totalBuildingInsuranceCoverage', 'totalContentsInsuranceCoverage',
       'totalInsurancePremiumOfThePolicy', 'id',
       'numberOfFloorsInTheInsuredBuilding', 'policyTerminationDate'],
      dtype='object')

In [29]:
df= df[['id','policyEffectiveDate','policyTerminationDate', 'policyCost', 'policyCount', 'policyTermIndicator', 
        'countyCode', 'reportedZipCode', 'floodZone', 'latitude', 'longitude', 
        'occupancyType', 'numberOfFloorsInTheInsuredBuilding', 'totalBuildingInsuranceCoverage', 'totalContentsInsuranceCoverage', 'totalInsurancePremiumOfThePolicy']]

df

,id,policyEffectiveDate,policyTerminationDate,policyCost,policyCount,policyTermIndicator,countyCode,reportedZipCode,floodZone,latitude,longitude,occupancyType,numberOfFloorsInTheInsuredBuilding,totalBuildingInsuranceCoverage,totalContentsInsuranceCoverage,totalInsurancePremiumOfThePolicy
0,5aea9762-0e86-4909-b6c4-dac850c172f5,2014-03-04T00:00:00.000Z,2015-03-04T00:00:00.000Z,281,1,1.0,6113.0,95605,X,38.6,-121.5,1.0,1.0,75000.0,30000.0,259.0
1,b111cb7e-6e4a-41ab-b15f-73765fc7387a,2012-03-04T00:00:00.000Z,2013-03-04T00:00:00.000Z,247,1,1.0,6113.0,95605,X,38.6,-121.5,1.0,1.0,75000.0,30000.0,227.0
2,abf8492b-6756-4e4d-91f7-bf9093bffc6c,2022-03-03T00:00:00.000Z,2023-03-03T00:00:00.000Z,648,1,1.0,6067.0,95822,X,38.5,-121.5,1.0,1.0,250000.0,100000.0,507.0
3,afc6326c-0ebf-4832-8b7b-10e3abc62133,2021-03-03T00:00:00.000Z,2022-03-03T00:00:00.000Z,572,1,1.0,6067.0,95822,X,38.5,-121.5,1.0,1.0,250000.0,100000.0,442.0
4,3b5f7eba-6dac-49fe-877e-66b9f8952aec,2020-03-03T00:00:00.000Z,2021-03-03T00:00:00.000Z,504,1,1.0,6067.0,95822,X,38.5,-121.5,1.0,1.0,250000.0,100000.0,395.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3312226,69b3a1c1-b244-4e00-b0e8-473bf5279220,2013-03-02T00:00:00.000Z,2014-03-02T00:00:00.000Z,1325,1,1.0,6001.0,94579,AE,37.7,-122.1,1.0,1.0,177100.0,0.0,1285.0
3312227,c34a9987-1488-4bb8-88a8-8392221f1bf2,2012-03-02T00:00:00.000Z,2013-03-02T00:00:00.000Z,1114,1,1.0,6001.0,94579,AE,37.7,-122.1,1.0,1.0,161000.0,0.0,1074.0
3312228,d35ca547-fc08-4d7e-b06e-787913fe1117,2011-03-02T00:00:00.000Z,2012-03-02T00:00:00.000Z,1057,1,1.0,6001.0,94579,AE,37.7,-122.1,1.0,1.0,160600.0,0.0,1017.0
3312229,d323cffe-d262-48df-8d89-9d8cabf345de,2010-03-02T00:00:00.000Z,2011-03-02T00:00:00.000Z,954,1,1.0,6001.0,94579,AE,37.7,-122.1,1.0,1.0,146000.0,0.0,919.0
3312230,940cc0af-54f8-427a-826a-b7e00b13c30c,2009-03-02T00:00:00.000Z,2010-03-02T00:00:00.000Z,911,1,1.0,6001.0,94579,AE,37.7,-122.1,1.0,1.0,146000.0,0.0,876.0

In [31]:
df['policyEffectiveDate']= df['policyEffectiveDate'].astype('datetime64[ns]')
df['year']= df['policyEffectiveDate'].dt.year
df['year'].value_counts().sort_index()

2009    287863
2010    283888
2011    275803
2012    264498
2013    252872
2014    240143
2015    295725
2016    257048
2017    242464
2018    225840
2019    219947
2020    213672
2021    198119
2022     53912
Name: year, dtype: int64

In [32]:
df.shape

(3311794, 17)

In [33]:
df.drop_duplicates()

,id,policyEffectiveDate,policyTerminationDate,policyCost,policyCount,policyTermIndicator,countyCode,reportedZipCode,floodZone,latitude,longitude,occupancyType,numberOfFloorsInTheInsuredBuilding,totalBuildingInsuranceCoverage,totalContentsInsuranceCoverage,totalInsurancePremiumOfThePolicy,year
0,5aea9762-0e86-4909-b6c4-dac850c172f5,2014-03-04,2015-03-04T00:00:00.000Z,281,1,1.0,6113.0,95605,X,38.6,-121.5,1.0,1.0,75000.0,30000.0,259.0,2014
1,b111cb7e-6e4a-41ab-b15f-73765fc7387a,2012-03-04,2013-03-04T00:00:00.000Z,247,1,1.0,6113.0,95605,X,38.6,-121.5,1.0,1.0,75000.0,30000.0,227.0,2012
2,abf8492b-6756-4e4d-91f7-bf9093bffc6c,2022-03-03,2023-03-03T00:00:00.000Z,648,1,1.0,6067.0,95822,X,38.5,-121.5,1.0,1.0,250000.0,100000.0,507.0,2022
3,afc6326c-0ebf-4832-8b7b-10e3abc62133,2021-03-03,2022-03-03T00:00:00.000Z,572,1,1.0,6067.0,95822,X,38.5,-121.5,1.0,1.0,250000.0,100000.0,442.0,2021
4,3b5f7eba-6dac-49fe-877e-66b9f8952aec,2020-03-03,2021-03-03T00:00:00.000Z,504,1,1.0,6067.0,95822,X,38.5,-121.5,1.0,1.0,250000.0,100000.0,395.0,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3312226,69b3a1c1-b244-4e00-b0e8-473bf5279220,2013-03-02,2014-03-02T00:00:00.000Z,1325,1,1.0,6001.0,94579,AE,37.7,-122.1,1.0,1.0,177100.0,0.0,1285.0,2013
3312227,c34a9987-1488-4bb8-88a8-8392221f1bf2,2012-03-02,2013-03-02T00:00:00.000Z,1114,1,1.0,6001.0,94579,AE,37.7,-122.1,1.0,1.0,161000.0,0.0,1074.0,2012
3312228,d35ca547-fc08-4d7e-b06e-787913fe1117,2011-03-02,2012-03-02T00:00:00.000Z,1057,1,1.0,6001.0,94579,AE,37.7,-122.1,1.0,1.0,160600.0,0.0,1017.0,2011
3312229,d323cffe-d262-48df-8d89-9d8cabf345de,2010-03-02,2011-03-02T00:00:00.000Z,954,1,1.0,6001.0,94579,AE,37.7,-122.1,1.0,1.0,146000.0,0.0,919.0,2010
3312230,940cc0af-54f8-427a-826a-b7e00b13c30c,2009-03-02,2010-03-02T00:00:00.000Z,911,1,1.0,6001.0,94579,AE,37.7,-122.1,1.0,1.0,146000.0,0.0,876.0,2009

In [37]:
df['policyEffectiveDate']= pd.to_datetime(df['policyEffectiveDate'])
df['policyTerminationDate']= pd.to_datetime(df['policyTerminationDate'])
df['policyTerminationDate'] = df['policyTerminationDate'].dt.tz_localize(None)
df['policyEffectiveDate'] = df['policyEffectiveDate'].dt.tz_localize(None)

df['policyPeriod']= df['policyTerminationDate']- df['policyEffectiveDate']
df['policyPeriod'].value_counts()

365 days    2163709
366 days     692949
1 days        12121
364 days       6320
30 days        2732
             ...
439 days          1
429 days          1
644 days          1
414 days          1
675 days          1
Name: policyPeriod, Length: 457, dtype: int64

In [39]:
df['policyTermIndicator'].value_counts()

1.0    3311793
0.0          1
Name: policyTermIndicator, dtype: int64

In [41]:
df= df[df['policyTermIndicator']!=0.0]
df.shape

(3311793, 18)

In [43]:
df.drop(columns=['policyTerminationDate', 'policyTermIndicator', 'policyPeriod'], inplace=True)
df

,id,policyEffectiveDate,policyCost,policyCount,countyCode,reportedZipCode,floodZone,latitude,longitude,occupancyType,numberOfFloorsInTheInsuredBuilding,totalBuildingInsuranceCoverage,totalContentsInsuranceCoverage,totalInsurancePremiumOfThePolicy,year
0,5aea9762-0e86-4909-b6c4-dac850c172f5,2014-03-04,281,1,6113.0,95605,X,38.6,-121.5,1.0,1.0,75000.0,30000.0,259.0,2014
1,b111cb7e-6e4a-41ab-b15f-73765fc7387a,2012-03-04,247,1,6113.0,95605,X,38.6,-121.5,1.0,1.0,75000.0,30000.0,227.0,2012
2,abf8492b-6756-4e4d-91f7-bf9093bffc6c,2022-03-03,648,1,6067.0,95822,X,38.5,-121.5,1.0,1.0,250000.0,100000.0,507.0,2022
3,afc6326c-0ebf-4832-8b7b-10e3abc62133,2021-03-03,572,1,6067.0,95822,X,38.5,-121.5,1.0,1.0,250000.0,100000.0,442.0,2021
4,3b5f7eba-6dac-49fe-877e-66b9f8952aec,2020-03-03,504,1,6067.0,95822,X,38.5,-121.5,1.0,1.0,250000.0,100000.0,395.0,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3312226,69b3a1c1-b244-4e00-b0e8-473bf5279220,2013-03-02,1325,1,6001.0,94579,AE,37.7,-122.1,1.0,1.0,177100.0,0.0,1285.0,2013
3312227,c34a9987-1488-4bb8-88a8-8392221f1bf2,2012-03-02,1114,1,6001.0,94579,AE,37.7,-122.1,1.0,1.0,161000.0,0.0,1074.0,2012
3312228,d35ca547-fc08-4d7e-b06e-787913fe1117,2011-03-02,1057,1,6001.0,94579,AE,37.7,-122.1,1.0,1.0,160600.0,0.0,1017.0,2011
3312229,d323cffe-d262-48df-8d89-9d8cabf345de,2010-03-02,954,1,6001.0,94579,AE,37.7,-122.1,1.0,1.0,146000.0,0.0,919.0,2010
3312230,940cc0af-54f8-427a-826a-b7e00b13c30c,2009-03-02,911,1,6001.0,94579,AE,37.7,-122.1,1.0,1.0,146000.0,0.0,876.0,2009

In [45]:
df['countyCode'].value_counts()

6067.0     747345
6037.0     273553
6059.0     253392
6085.0     201724
6073.0     122167
6107.0     115799
6077.0     108088
6111.0     103277
6041.0     102769
6101.0      88885
6065.0      87917
6081.0      83411
6047.0      82552
6029.0      76542
6113.0      73630
6013.0      69505
6071.0      68725
6001.0      57886
6083.0      54066
6097.0      50825
6115.0      49292
6087.0      49079
6095.0      43008
6007.0      34526
6053.0      30698
6079.0      30178
6019.0      28819
6033.0      26983
6055.0      25961
6061.0      19309
6089.0      16759
6099.0      16715
6103.0      16561
6039.0      13840
6023.0      13215
6045.0      10043
6011.0       9502
6021.0       8326
6017.0       6443
6093.0       6067
6031.0       5457
6009.0       3925
6057.0       2828
6005.0       2740
6015.0       2604
6069.0       2397
6063.0       2361
6051.0       2024
6035.0       1846
6075.0       1496
6105.0       1491
6049.0       1266
6091.0       1116
6025.0        981
6109.0        744
6027.0        695
6.0           368
6003.0         61
41035.0         9
28123.0         2
Name: countyCode, dtype: int64

In [46]:
df= df[~df['countyCode'].isin([6.0, 6003.0, 41035.0, 28123.0])]
df['countyCode'].value_counts()

6067.0    747345
6037.0    273553
6059.0    253392
6085.0    201724
6073.0    122167
6107.0    115799
6077.0    108088
6111.0    103277
6041.0    102769
6101.0     88885
6065.0     87917
6081.0     83411
6047.0     82552
6029.0     76542
6113.0     73630
6013.0     69505
6071.0     68725
6001.0     57886
6083.0     54066
6097.0     50825
6115.0     49292
6087.0     49079
6095.0     43008
6007.0     34526
6053.0     30698
6079.0     30178
6019.0     28819
6033.0     26983
6055.0     25961
6061.0     19309
6089.0     16759
6099.0     16715
6103.0     16561
6039.0     13840
6023.0     13215
6045.0     10043
6011.0      9502
6021.0      8326
6017.0      6443
6093.0      6067
6031.0      5457
6009.0      3925
6057.0      2828
6005.0      2740
6015.0      2604
6069.0      2397
6063.0      2361
6051.0      2024
6035.0      1846
6075.0      1496
6105.0      1491
6049.0      1266
6091.0      1116
6025.0       981
6109.0       744
6027.0       695
Name: countyCode, dtype: int64

In [47]:
df.shape

(3311353, 15)

In [48]:
df

,id,policyEffectiveDate,policyCost,policyCount,countyCode,reportedZipCode,floodZone,latitude,longitude,occupancyType,numberOfFloorsInTheInsuredBuilding,totalBuildingInsuranceCoverage,totalContentsInsuranceCoverage,totalInsurancePremiumOfThePolicy,year
0,5aea9762-0e86-4909-b6c4-dac850c172f5,2014-03-04,281,1,6113.0,95605,X,38.6,-121.5,1.0,1.0,75000.0,30000.0,259.0,2014
1,b111cb7e-6e4a-41ab-b15f-73765fc7387a,2012-03-04,247,1,6113.0,95605,X,38.6,-121.5,1.0,1.0,75000.0,30000.0,227.0,2012
2,abf8492b-6756-4e4d-91f7-bf9093bffc6c,2022-03-03,648,1,6067.0,95822,X,38.5,-121.5,1.0,1.0,250000.0,100000.0,507.0,2022
3,afc6326c-0ebf-4832-8b7b-10e3abc62133,2021-03-03,572,1,6067.0,95822,X,38.5,-121.5,1.0,1.0,250000.0,100000.0,442.0,2021
4,3b5f7eba-6dac-49fe-877e-66b9f8952aec,2020-03-03,504,1,6067.0,95822,X,38.5,-121.5,1.0,1.0,250000.0,100000.0,395.0,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3312226,69b3a1c1-b244-4e00-b0e8-473bf5279220,2013-03-02,1325,1,6001.0,94579,AE,37.7,-122.1,1.0,1.0,177100.0,0.0,1285.0,2013
3312227,c34a9987-1488-4bb8-88a8-8392221f1bf2,2012-03-02,1114,1,6001.0,94579,AE,37.7,-122.1,1.0,1.0,161000.0,0.0,1074.0,2012
3312228,d35ca547-fc08-4d7e-b06e-787913fe1117,2011-03-02,1057,1,6001.0,94579,AE,37.7,-122.1,1.0,1.0,160600.0,0.0,1017.0,2011
3312229,d323cffe-d262-48df-8d89-9d8cabf345de,2010-03-02,954,1,6001.0,94579,AE,37.7,-122.1,1.0,1.0,146000.0,0.0,919.0,2010
3312230,940cc0af-54f8-427a-826a-b7e00b13c30c,2009-03-02,911,1,6001.0,94579,AE,37.7,-122.1,1.0,1.0,146000.0,0.0,876.0,2009

In [49]:
df['countyCode']= df['countyCode'].astype('int64')

C:\Users\31405.ISBDOMAIN1\AppData\Local\Temp\12\ipykernel_31904\2927334786.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['countyCode']= df['countyCode'].astype('int64')

In [50]:
df['fips_code']= df['countyCode'].astype('str')
df['fips_code']= df['fips_code'].apply(lambda x: x[-2:])
df

C:\Users\31405.ISBDOMAIN1\AppData\Local\Temp\12\ipykernel_31904\3430304057.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fips_code']= df['countyCode'].astype('str')
C:\Users\31405.ISBDOMAIN1\AppData\Local\Temp\12\ipykernel_31904\3430304057.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fips_code']= df['fips_code'].apply(lambda x: x[-2:])

,id,policyEffectiveDate,policyCost,policyCount,countyCode,reportedZipCode,floodZone,latitude,longitude,occupancyType,numberOfFloorsInTheInsuredBuilding,totalBuildingInsuranceCoverage,totalContentsInsuranceCoverage,totalInsurancePremiumOfThePolicy,year,fips_code
0,5aea9762-0e86-4909-b6c4-dac850c172f5,2014-03-04,281,1,6113,95605,X,38.6,-121.5,1.0,1.0,75000.0,30000.0,259.0,2014,13
1,b111cb7e-6e4a-41ab-b15f-73765fc7387a,2012-03-04,247,1,6113,95605,X,38.6,-121.5,1.0,1.0,75000.0,30000.0,227.0,2012,13
2,abf8492b-6756-4e4d-91f7-bf9093bffc6c,2022-03-03,648,1,6067,95822,X,38.5,-121.5,1.0,1.0,250000.0,100000.0,507.0,2022,67
3,afc6326c-0ebf-4832-8b7b-10e3abc62133,2021-03-03,572,1,6067,95822,X,38.5,-121.5,1.0,1.0,250000.0,100000.0,442.0,2021,67
4,3b5f7eba-6dac-49fe-877e-66b9f8952aec,2020-03-03,504,1,6067,95822,X,38.5,-121.5,1.0,1.0,250000.0,100000.0,395.0,2020,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3312226,69b3a1c1-b244-4e00-b0e8-473bf5279220,2013-03-02,1325,1,6001,94579,AE,37.7,-122.1,1.0,1.0,177100.0,0.0,1285.0,2013,01
3312227,c34a9987-1488-4bb8-88a8-8392221f1bf2,2012-03-02,1114,1,6001,94579,AE,37.7,-122.1,1.0,1.0,161000.0,0.0,1074.0,2012,01
3312228,d35ca547-fc08-4d7e-b06e-787913fe1117,2011-03-02,1057,1,6001,94579,AE,37.7,-122.1,1.0,1.0,160600.0,0.0,1017.0,2011,01
3312229,d323cffe-d262-48df-8d89-9d8cabf345de,2010-03-02,954,1,6001,94579,AE,37.7,-122.1,1.0,1.0,146000.0,0.0,919.0,2010,01
3312230,940cc0af-54f8-427a-826a-b7e00b13c30c,2009-03-02,911,1,6001,94579,AE,37.7,-122.1,1.0,1.0,146000.0,0.0,876.0,2009,01

In [51]:
cf= pd.read_excel(r"county_fips.xlsx")
cf.columns=['county_name', 'fips_code']
cf

        county_name  fips_code
0           Alameda          1
1            Alpine          3
2            Amador          5
3             Butte          7
4         Calaveras          9
5            Colusa         11
6      Contra Costa         13
7         Del Norte         15
8         El Dorado         17
9            Fresno         19
10            Glenn         21
11         Humboldt         23
12         Imperial         25
13             Inyo         27
14             Kern         29
15            Kings         31
16             Lake         33
17           Lassen         35
18      Los Angeles         37
19           Madera         39
20            Marin         41
21         Mariposa         43
22        Mendocino         45
23           Merced         47
24            Modoc         49
25             Mono         51
26         Monterey         53
27             Napa         55
28           Nevada         57
29           Orange         59
30           Placer         61
31           Plumas         63
32        Riverside         65
33       Sacramento         67
34       San Benito         69
35   San Bernardino         71
36        San Diego         73
37    San Francisco         75
38      San Joaquin         77
39  San Luis Obispo         79
40        San Mateo         81
41    Santa Barbara         83
42      Santa Clara         85
43       Santa Cruz         87
44           Shasta         89
45           Sierra         91
46         Siskiyou         93
47           Solano         95
48           Sonoma         97
49       Stanislaus         99
50           Sutter        101
51           Tehama        103
52          Trinity        105
53           Tulare        107
54         Tuolumne        109
55          Ventura        111
56             Yolo        113
57             Yuba        115

In [52]:
df['fips_code']= df['fips_code'].astype('int64')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3311353 entries, 0 to 3312230
Data columns (total 16 columns):
 #   Column                              Dtype
---  ------                              -----
 0   id                                  object
 1   policyEffectiveDate                 datetime64[ns]
 2   policyCost                          int64
 3   policyCount                         int64
 4   countyCode                          int64
 5   reportedZipCode                     object
 6   floodZone                           object
 7   latitude                            float64
 8   longitude                           float64
 9   occupancyType                       float64
 10  numberOfFloorsInTheInsuredBuilding  float64
 11  totalBuildingInsuranceCoverage      float64
 12  totalContentsInsuranceCoverage      float64
 13  totalInsurancePremiumOfThePolicy    float64
 14  year                                int64
 15  fips_code                           int64
dtypes: datetime64[ns](1), float64(7), int64(5), object(3)
memory usage: 429.5+ MB

C:\Users\31405.ISBDOMAIN1\AppData\Local\Temp\12\ipykernel_31904\3051272843.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fips_code']= df['fips_code'].astype('int64')

In [53]:
pd.merge(df, cf).info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3311353 entries, 0 to 3311352
Data columns (total 17 columns):
 #   Column                              Non-Null Count    Dtype
---  ------                              --------------    -----
 0   id                                  3311353 non-null  object
 1   policyEffectiveDate                 3311353 non-null  datetime64[ns]
 2   policyCost                          3311353 non-null  int64
 3   policyCount                         3311353 non-null  int64
 4   countyCode                          3311353 non-null  int64
 5   reportedZipCode                     3311353 non-null  object
 6   floodZone                           3311353 non-null  object
 7   latitude                            3311353 non-null  float64
 8   longitude                           3311353 non-null  float64
 9   occupancyType                       3311353 non-null  float64
 10  numberOfFloorsInTheInsuredBuilding  3311353 non-null  float64
 11  totalBuildingInsuranceCoverage      3311353 non-null  float64
 12  totalContentsInsuranceCoverage      3311353 non-null  float64
 13  totalInsurancePremiumOfThePolicy    3311353 non-null  float64
 14  year                                3311353 non-null  int64
 15  fips_code                           3311353 non-null  int64
 16  county_name                         3311353 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(5), object(4)
memory usage: 454.7+ MB

In [54]:
df.shape

(3311353, 16)

In [55]:
df= pd.merge(df, cf)
df

,id,policyEffectiveDate,policyCost,policyCount,countyCode,reportedZipCode,floodZone,latitude,longitude,occupancyType,numberOfFloorsInTheInsuredBuilding,totalBuildingInsuranceCoverage,totalContentsInsuranceCoverage,totalInsurancePremiumOfThePolicy,year,fips_code,county_name
0,5aea9762-0e86-4909-b6c4-dac850c172f5,2014-03-04,281,1,6113,95605,X,38.6,-121.5,1.0,1.0,75000.0,30000.0,259.0,2014,13,Contra Costa
1,b111cb7e-6e4a-41ab-b15f-73765fc7387a,2012-03-04,247,1,6113,95605,X,38.6,-121.5,1.0,1.0,75000.0,30000.0,227.0,2012,13,Contra Costa
2,beab4733-8b15-4f5e-8809-0a990d508e97,2014-04-03,1278,1,6013,94549,AO,37.9,-122.1,12.0,1.0,250000.0,0.0,1175.0,2014,13,Contra Costa
3,09ec48ac-11f1-4b46-8ab6-a01dea881f50,2022-04-26,607,1,6113,95616,X,38.6,-121.7,11.0,1.0,165000.0,63000.0,453.0,2022,13,Contra Costa
4,d205105f-59ae-4732-b832-dabcd7896e2a,2021-04-26,493,1,6113,95616,X,38.6,-121.7,11.0,1.0,150000.0,60000.0,375.0,2021,13,Contra Costa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3311348,e5cc7921-9f10-4146-86f1-a20a816a0a11,2017-03-03,650,1,6025,92233,X,33.1,-115.5,1.0,1.0,200000.0,80000.0,326.0,2017,25,Imperial
3311349,f5428125-69b1-45fa-b076-334a62965b00,2016-03-03,630,1,6025,92233,X,33.1,-115.5,1.0,1.0,200000.0,80000.0,326.0,2016,25,Imperial
3311350,903bc533-b52d-4ff7-abdf-8d742466bb5c,2015-03-03,390,1,6025,92233,X,33.1,-115.5,1.0,1.0,200000.0,80000.0,368.0,2015,25,Imperial
3311351,fcb18c66-f59c-4c9b-aa89-3f6e57a2cefe,2014-03-03,390,1,6025,92233,X,33.1,-115.5,1.0,1.0,200000.0,80000.0,368.0,2014,25,Imperial
3311352,266bd127-8c56-45a2-a031-5ded653c61c5,2013-03-03,388,1,6025,92233,X,33.1,-115.5,1.0,1.0,200000.0,80000.0,368.0,2013,25,Imperial

In [56]:
df.sort_values(by=['fips_code', 'policyEffectiveDate'], inplace=True)
df.reset_index(inplace=True, drop=True)
df

,id,policyEffectiveDate,policyCost,policyCount,countyCode,reportedZipCode,floodZone,latitude,longitude,occupancyType,numberOfFloorsInTheInsuredBuilding,totalBuildingInsuranceCoverage,totalContentsInsuranceCoverage,totalInsurancePremiumOfThePolicy,year,fips_code,county_name
0,4e38a265-92ed-40ad-9fe2-b909180f3a86,2009-01-01,296,1,6101,95957,X,39.1,-121.9,1.0,1.0,150000.0,60000.0,283.0,2009,1,Alameda
1,5810ffbe-5d9f-4e72-8d9f-583f886bd153,2009-01-01,348,1,6101,95991,X,39.1,-121.6,1.0,1.0,250000.0,100000.0,335.0,2009,1,Alameda
2,1c38a91f-2bbf-4fe8-ac32-6d1f1fefe519,2009-01-01,348,1,6101,95993,X,39.1,-121.6,1.0,1.0,250000.0,100000.0,335.0,2009,1,Alameda
3,38bd25a3-2e61-473b-b198-33239988bb3a,2009-01-01,348,1,6101,95668,X,38.9,-121.5,1.0,1.0,250000.0,100000.0,335.0,2009,1,Alameda
4,3b6b6139-5e2a-42f8-8013-f0d4ee3f892e,2009-01-01,348,1,6101,95659,X,38.9,-121.6,1.0,1.0,250000.0,100000.0,335.0,2009,1,Alameda
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3311348,e648231a-87ab-40b2-ab63-43b366677e39,2022-05-03,1836,1,6099,95356,X,37.7,-121.0,18.0,1.0,500000.0,158000.0,1304.0,2022,99,Stanislaus
3311349,48f427fa-f9c5-4e35-a5ef-4c03030dee9c,2022-05-09,998,1,6099,95360,AO,37.3,-121.0,18.0,1.0,277000.0,75000.0,594.0,2022,99,Stanislaus
3311350,14c8bb3a-e3af-4f60-8f13-9c32852005fc,2022-05-11,688,1,6099,95360,X,37.3,-121.0,11.0,1.0,250000.0,100000.0,522.0,2022,99,Stanislaus
3311351,999e2d4b-8a18-47da-8223-306f13bb4434,2022-05-11,702,1,6099,95360,AO,37.3,-121.0,1.0,1.0,207000.0,0.0,534.0,2022,99,Stanislaus
3311352,68361284-e7ec-4122-9842-603a0d2bb793,2022-05-22,1620,1,6099,95356,X,37.7,-121.0,6.0,1.0,500000.0,158000.0,1121.0,2022,99,Stanislaus

In [57]:
df['fips_code'].value_counts()

67    747345
37    273553
59    253392
85    201724
7     150325
1     146771
13    143135
73    122167
11    112779
77    108088
41    102769
65     87917
81     83411
47     82552
29     76542
71     68725
83     54066
15     51896
97     50825
87     49079
95     43008
53     30698
79     30178
19     28819
33     26983
55     25961
61     19309
89     16759
99     16715
3      16561
39     13840
23     13215
45     10043
21      8326
17      6443
93      6067
31      5457
9       4669
5       4231
57      2828
69      2397
63      2361
51      2024
35      1846
75      1496
49      1266
91      1116
25       981
27       695
Name: fips_code, dtype: int64

In [58]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3311353 entries, 0 to 3311352
Data columns (total 17 columns):
 #   Column                              Non-Null Count    Dtype
---  ------                              --------------    -----
 0   id                                  3311353 non-null  object
 1   policyEffectiveDate                 3311353 non-null  datetime64[ns]
 2   policyCost                          3311353 non-null  int64
 3   policyCount                         3311353 non-null  int64
 4   countyCode                          3311353 non-null  int64
 5   reportedZipCode                     3311353 non-null  object
 6   floodZone                           3311353 non-null  object
 7   latitude                            3311353 non-null  float64
 8   longitude                           3311353 non-null  float64
 9   occupancyType                       3311353 non-null  float64
 10  numberOfFloorsInTheInsuredBuilding  3311353 non-null  float64
 11  totalBuildingInsuranceCoverage      3311353 non-null  float64
 12  totalContentsInsuranceCoverage      3311353 non-null  float64
 13  totalInsurancePremiumOfThePolicy    3311353 non-null  float64
 14  year                                3311353 non-null  int64
 15  fips_code                           3311353 non-null  int64
 16  county_name                         3311353 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(5), object(4)
memory usage: 429.5+ MB

In [59]:
df.columns

Index(['id', 'policyEffectiveDate', 'policyCost', 'policyCount', 'countyCode',
       'reportedZipCode', 'floodZone', 'latitude', 'longitude',
       'occupancyType', 'numberOfFloorsInTheInsuredBuilding',
       'totalBuildingInsuranceCoverage', 'totalContentsInsuranceCoverage',
       'totalInsurancePremiumOfThePolicy', 'year', 'fips_code', 'county_name'],
      dtype='object')

In [60]:
df['month_year']= df['policyEffectiveDate'].dt.to_period('M')
df['month_year'].value_counts()

2015-12    52246
2015-11    47486
2016-01    33059
2009-12    31531
2009-11    31173
           ...
2022-01    13511
2022-04     8560
2022-05     2192
2022-06       67
2022-07        1
Freq: M, Name: month_year, Length: 163, dtype: int64

In [62]:
df['month']= df['policyEffectiveDate'].dt.month
df['month'].value_counts().sort_index()

1     331668
2     305451
3     288833
4     243464
5     223874
6     214818
7     218434
8     219885
9     242748
10    302439
11    355045
12    364694
Name: month, dtype: int64

In [64]:
df['numberOfFloorsInTheInsuredBuilding'].value_counts()

1.0    1935227
2.0    1182526
3.0     143780
5.0      30622
4.0      18596
6.0        602
Name: numberOfFloorsInTheInsuredBuilding, dtype: int64

In [65]:
df['occupancyType'].value_counts()

1.0     2738784
2.0      146130
6.0      135118
3.0      121405
4.0       95093
11.0      62557
18.0       5774
12.0       2353
16.0       2096
13.0       1158
14.0        593
15.0        279
19.0         13
Name: occupancyType, dtype: int64

In [66]:
df.columns=['id', 'policyEffectiveDate', 'policyCost', 'policyCount', 'countyCode',
       'reportedZipCode', 'floodZone', 'latitude', 'longitude',
       'occupancyType', 'floorsCount',
       'totalBuildingInsuranceCoverage', 'totalContentsInsuranceCoverage',
       'totalInsurancePremiumOfThePolicy', 'policyYear', 'fips_code', 'county_name',
       'month_year', 'month']

df= df[['id', 'policyEffectiveDate', 'policyYear', 'policyCost', 'policyCount', 'countyCode',  'fips_code', 'county_name', 'reportedZipCode', 'floodZone', 'latitude', 'longitude',
       'occupancyType', 'floorsCount', 'totalBuildingInsuranceCoverage', 'totalContentsInsuranceCoverage', 'totalInsurancePremiumOfThePolicy']]

df

,id,policyEffectiveDate,policyYear,policyCost,policyCount,countyCode,fips_code,county_name,reportedZipCode,floodZone,latitude,longitude,occupancyType,floorsCount,totalBuildingInsuranceCoverage,totalContentsInsuranceCoverage,totalInsurancePremiumOfThePolicy
0,4e38a265-92ed-40ad-9fe2-b909180f3a86,2009-01-01,2009,296,1,6101,1,Alameda,95957,X,39.1,-121.9,1.0,1.0,150000.0,60000.0,283.0
1,5810ffbe-5d9f-4e72-8d9f-583f886bd153,2009-01-01,2009,348,1,6101,1,Alameda,95991,X,39.1,-121.6,1.0,1.0,250000.0,100000.0,335.0
2,1c38a91f-2bbf-4fe8-ac32-6d1f1fefe519,2009-01-01,2009,348,1,6101,1,Alameda,95993,X,39.1,-121.6,1.0,1.0,250000.0,100000.0,335.0
3,38bd25a3-2e61-473b-b198-33239988bb3a,2009-01-01,2009,348,1,6101,1,Alameda,95668,X,38.9,-121.5,1.0,1.0,250000.0,100000.0,335.0
4,3b6b6139-5e2a-42f8-8013-f0d4ee3f892e,2009-01-01,2009,348,1,6101,1,Alameda,95659,X,38.9,-121.6,1.0,1.0,250000.0,100000.0,335.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3311348,e648231a-87ab-40b2-ab63-43b366677e39,2022-05-03,2022,1836,1,6099,99,Stanislaus,95356,X,37.7,-121.0,18.0,1.0,500000.0,158000.0,1304.0
3311349,48f427fa-f9c5-4e35-a5ef-4c03030dee9c,2022-05-09,2022,998,1,6099,99,Stanislaus,95360,AO,37.3,-121.0,18.0,1.0,277000.0,75000.0,594.0
3311350,14c8bb3a-e3af-4f60-8f13-9c32852005fc,2022-05-11,2022,688,1,6099,99,Stanislaus,95360,X,37.3,-121.0,11.0,1.0,250000.0,100000.0,522.0
3311351,999e2d4b-8a18-47da-8223-306f13bb4434,2022-05-11,2022,702,1,6099,99,Stanislaus,95360,AO,37.3,-121.0,1.0,1.0,207000.0,0.0,534.0
3311352,68361284-e7ec-4122-9842-603a0d2bb793,2022-05-22,2022,1620,1,6099,99,Stanislaus,95356,X,37.7,-121.0,6.0,1.0,500000.0,158000.0,1121.0

In [68]:
df['policyYear'].value_counts().sort_index()

2009    287848
2010    283868
2011    275783
2012    264479
2013    252849
2014    240114
2015    295688
2016    257012
2017    242419
2018    225790
2019    219894
2020    213622
2021    198086
2022     53901
Name: policyYear, dtype: int64

In [69]:
df.to_csv('insurance_2009_2022.csv', index=False)

In [70]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3311353 entries, 0 to 3311352
Data columns (total 17 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   id                                3311353 non-null  object
 1   policyEffectiveDate               3311353 non-null  datetime64[ns]
 2   policyYear                        3311353 non-null  int64
 3   policyCost                        3311353 non-null  int64
 4   policyCount                       3311353 non-null  int64
 5   countyCode                        3311353 non-null  int64
 6   fips_code                         3311353 non-null  int64
 7   county_name                       3311353 non-null  object
 8   reportedZipCode                   3311353 non-null  object
 9   floodZone                         3311353 non-null  object
 10  latitude                          3311353 non-null  float64
 11  longitude                         3311353 non-null  float64
 12  occupancyType                     3311353 non-null  float64
 13  floorsCount                       3311353 non-null  float64
 14  totalBuildingInsuranceCoverage    3311353 non-null  float64
 15  totalContentsInsuranceCoverage    3311353 non-null  float64
 16  totalInsurancePremiumOfThePolicy  3311353 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(5), object(4)
memory usage: 429.5+ MB

In [72]:
df.head()

,id,policyEffectiveDate,policyYear,policyCost,policyCount,countyCode,fips_code,county_name,reportedZipCode,floodZone,latitude,longitude,occupancyType,floorsCount,totalBuildingInsuranceCoverage,totalContentsInsuranceCoverage,totalInsurancePremiumOfThePolicy
0,4e38a265-92ed-40ad-9fe2-b909180f3a86,2009-01-01,2009,296,1,6101,1,Alameda,95957,X,39.1,-121.9,1.0,1.0,150000.0,60000.0,283.0
1,5810ffbe-5d9f-4e72-8d9f-583f886bd153,2009-01-01,2009,348,1,6101,1,Alameda,95991,X,39.1,-121.6,1.0,1.0,250000.0,100000.0,335.0
2,1c38a91f-2bbf-4fe8-ac32-6d1f1fefe519,2009-01-01,2009,348,1,6101,1,Alameda,95993,X,39.1,-121.6,1.0,1.0,250000.0,100000.0,335.0
3,38bd25a3-2e61-473b-b198-33239988bb3a,2009-01-01,2009,348,1,6101,1,Alameda,95668,X,38.9,-121.5,1.0,1.0,250000.0,100000.0,335.0
4,3b6b6139-5e2a-42f8-8013-f0d4ee3f892e,2009-01-01,2009,348,1,6101,1,Alameda,95659,X,38.9,-121.6,1.0,1.0,250000.0,100000.0,335.0

# DO THIS ON GLUE

In [102]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3311353 entries, 0 to 3311352
Data columns (total 18 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   id                                3311353 non-null  object
 1   policyEffectiveDate               3311353 non-null  datetime64[ns]
 2   policyYear                        3311353 non-null  int64
 3   policyCost                        3311353 non-null  int64
 4   policyCount                       3311353 non-null  int64
 5   countyCode                        3311353 non-null  int64
 6   fips_code                         3311353 non-null  int64
 7   county_name                       3311353 non-null  object
 8   reportedZipCode                   3311353 non-null  object
 9   floodZone                         3311353 non-null  object
 10  latitude                          3311353 non-null  float64
 11  longitude                         3311353 non-null  float64
 12  occupancyType                     3311353 non-null  float64
 13  floorsCount                       3311353 non-null  float64
 14  totalBuildingInsuranceCoverage    3311353 non-null  float64
 15  totalContentsInsuranceCoverage    3311353 non-null  float64
 16  totalInsurancePremiumOfThePolicy  3311353 non-null  float64
 17  insuranceCoverage                 3311353 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(5), object(4)
memory usage: 454.7+ MB

In [103]:
df['insuranceCoverage']= df['totalBuildingInsuranceCoverage']+df['totalContentsInsuranceCoverage']

C:\Users\31405.ISBDOMAIN1\AppData\Local\Temp\12\ipykernel_31904\2104814859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['insuranceCoverage']= df['totalBuildingInsuranceCoverage']+df['totalContentsInsuranceCoverage']

## Table insurance

In [100]:
a= df.groupby(['fips_code', 'policyYear'])['insuranceCoverage'].apply(lambda x: np.log(x.sum())).reset_index(name='log_insured')
b= df.groupby(['fips_code', 'policyYear'])['policyCost'].apply(lambda x: np.log(x.sum())).reset_index(name='log_cost')
c= df.groupby(['policyYear', 'county_name']).size().reset_index(name='policy_count')

In [104]:
dfi= a.merge(b).merge(c)
dfi

       fips_code  policyYear  log_insured   log_cost county_name  policy_count
0              1        2009    21.896683  15.756230     Alameda         11270
1              1        2009    21.896683  15.756230      Alpine          1248
2              1        2009    21.896683  15.756230      Amador           366
3              1        2009    21.896683  15.756230       Butte         14202
4              1        2009    21.896683  15.756230   Calaveras           219
...          ...         ...          ...        ...         ...           ...
33609         99        2022    18.004853  12.648397      Sierra            15
33610         99        2022    18.004853  12.648397    Siskiyou            87
33611         99        2022    18.004853  12.648397      Solano           630
33612         99        2022    18.004853  12.648397      Sonoma           826
33613         99        2022    18.004853  12.648397  Stanislaus           250

[33614 rows x 6 columns]

In [111]:
dfi.rename(columns={'policyYear':'year'}, inplace=True)

In [112]:
dfi.to_csv('redshift/TABLE_insurance.csv', index=False)

## Table FloodZone

In [106]:
df.head()

,id,policyEffectiveDate,policyYear,policyCost,policyCount,countyCode,fips_code,county_name,reportedZipCode,floodZone,latitude,longitude,occupancyType,floorsCount,totalBuildingInsuranceCoverage,totalContentsInsuranceCoverage,totalInsurancePremiumOfThePolicy,insuranceCoverage
0,4e38a265-92ed-40ad-9fe2-b909180f3a86,2009-01-01,2009,296,1,6101,1,Alameda,95957,X,39.1,-121.9,1.0,1.0,150000.0,60000.0,283.0,210000.0
1,5810ffbe-5d9f-4e72-8d9f-583f886bd153,2009-01-01,2009,348,1,6101,1,Alameda,95991,X,39.1,-121.6,1.0,1.0,250000.0,100000.0,335.0,350000.0
2,1c38a91f-2bbf-4fe8-ac32-6d1f1fefe519,2009-01-01,2009,348,1,6101,1,Alameda,95993,X,39.1,-121.6,1.0,1.0,250000.0,100000.0,335.0,350000.0
3,38bd25a3-2e61-473b-b198-33239988bb3a,2009-01-01,2009,348,1,6101,1,Alameda,95668,X,38.9,-121.5,1.0,1.0,250000.0,100000.0,335.0,350000.0
4,3b6b6139-5e2a-42f8-8013-f0d4ee3f892e,2009-01-01,2009,348,1,6101,1,Alameda,95659,X,38.9,-121.6,1.0,1.0,250000.0,100000.0,335.0,350000.0

In [114]:
a= pd.DataFrame(df[['fips_code', 'policyYear', 'floodZone']].value_counts())
a.columns=['policyCount']
a.reset_index(inplace=True)
a.sort_values(by=['fips_code', 'policyYear', 'policyCount'], ascending=[True,True, False], inplace=True)
a.reset_index(inplace=True, drop=True)
a

      fips_code  policyYear floodZone  policyCount
0             1        2009         X         6394
1             1        2009         C         2160
2             1        2009        AE         1185
3             1        2009        AO          419
4             1        2009         A          274
...         ...         ...       ...          ...
9883         99        2022         B           14
9884         99        2022         A            8
9885         99        2022       A24            3
9886         99        2022         C            2
9887         99        2022       A20            2

[9888 rows x 4 columns]

In [116]:
a.columns=['fips_code', 'year', 'floodZone', 'policyCount']
a

      fips_code  year floodZone  policyCount
0             1  2009         X         6394
1             1  2009         C         2160
2             1  2009        AE         1185
3             1  2009        AO          419
4             1  2009         A          274
...         ...   ...       ...          ...
9883         99  2022         B           14
9884         99  2022         A            8
9885         99  2022       A24            3
9886         99  2022         C            2
9887         99  2022       A20            2

[9888 rows x 4 columns]

In [117]:
a.to_csv('redshift/TABLE_floodZone.csv', index=False)