# FILTERING, CLEANING ON COLAB

In [1]:
import pandas as pd
import numpy as np
import os

In [4]:
os.chdir(r"/Users/sk/Library/CloudStorage/GoogleDrive-sachinkumar.srinivasamurthy@sjsu.edu/Shared drives/DATA 228 Big Data/Project/data/raw_source/")
sorted(os.listdir())

['CA_flashFloods_2005_2023.csv',
 'CA_floods_2005_2023.csv',
 'FimaNfipPolicies.csv',
 'NOAA_Weather',
 'county_fips.xlsx',
 'noaa-ghcnd-stations.txt']

In [6]:
df1= pd.read_csv('CA_floods_2005_2023.csv')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2421 entries, 0 to 2420
Data columns (total 47 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EVENT_ID             2421 non-null   int64
 1   CZ_NAME_STR          2421 non-null   object
 2   BEGIN_LOCATION       2421 non-null   object
 3   BEGIN_DATE           2421 non-null   object
 4   BEGIN_TIME           2421 non-null   int64
 5   EVENT_TYPE           2421 non-null   object
 6   MAGNITUDE            2421 non-null   object
 7   TOR_F_SCALE          2421 non-null   object
 8   DEATHS_DIRECT        2421 non-null   int64
 9   INJURIES_DIRECT      2421 non-null   int64
 10  DAMAGE_PROPERTY_NUM  2421 non-null   int64
 11  DAMAGE_CROPS_NUM     2421 non-null   int64
 12  STATE_ABBR           2421 non-null   object
 13  CZ_TIMEZONE          2421 non-null   object
 14  MAGNITUDE_TYPE       2421 non-null   object
 15  EPISODE_ID           2421 non-null   int64
 16  CZ_TYPE              2421 non-null   object
 17  CZ_FIPS              2421 non-null   int64
 18  WFO                  2421 non-null   object
 19  INJURIES_INDIRECT    2421 non-null   int64
 20  DEATHS_INDIRECT      2421 non-null   int64
 21  SOURCE               2421 non-null   object
 22  FLOOD_CAUSE          2421 non-null   object
 23  TOR_LENGTH           2421 non-null   object
 24  TOR_WIDTH            2421 non-null   object
 25  BEGIN_RANGE          2421 non-null   object
 26  BEGIN_AZIMUTH        2421 non-null   object
 27  END_RANGE            2421 non-null   object
 28  END_AZIMUTH          2421 non-null   object
 29  END_LOCATION         2421 non-null   object
 30  END_DATE             2421 non-null   object
 31  END_TIME             2421 non-null   object
 32  BEGIN_LAT            2421 non-null   object
 33  BEGIN_LON            2421 non-null   object
 34  END_LAT              2421 non-null   object
 35  END_LON              2421 non-null   object
 36  EVENT_NARRATIVE      2340 non-null   object
 37  EPISODE_NARRATIVE    2409 non-null   object
 38  ABSOLUTE_ROWNUMBER   2421 non-null   object
 39  Unnamed: 39          8 non-null      object
 40  Unnamed: 40          11 non-null     object
 41  Unnamed: 41          11 non-null     object
 42  Unnamed: 42          6 non-null      object
 43  Unnamed: 43          5 non-null      object
 44  Unnamed: 44          3 non-null      object
 45  Unnamed: 45          3 non-null      object
 46  Unnamed: 46          3 non-null      float64
dtypes: float64(1), int64(10), object(36)
memory usage: 889.1+ KB

In [5]:
df2= pd.read_csv(r"CA_flashFloods_2005_2023.csv")
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1789 entries, 0 to 1788
Data columns (total 41 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EVENT_ID             1789 non-null   int64
 1   CZ_NAME_STR          1789 non-null   object
 2   BEGIN_LOCATION       1789 non-null   object
 3   BEGIN_DATE           1789 non-null   object
 4   BEGIN_TIME           1789 non-null   int64
 5   EVENT_TYPE           1789 non-null   object
 6   MAGNITUDE            1789 non-null   object
 7   TOR_F_SCALE          1789 non-null   object
 8   DEATHS_DIRECT        1789 non-null   int64
 9   INJURIES_DIRECT      1789 non-null   int64
 10  DAMAGE_PROPERTY_NUM  1789 non-null   int64
 11  DAMAGE_CROPS_NUM     1789 non-null   int64
 12  STATE_ABBR           1789 non-null   object
 13  CZ_TIMEZONE          1789 non-null   object
 14  MAGNITUDE_TYPE       1789 non-null   object
 15  EPISODE_ID           1789 non-null   int64
 16  CZ_TYPE              1789 non-null   object
 17  CZ_FIPS              1789 non-null   int64
 18  WFO                  1789 non-null   object
 19  INJURIES_INDIRECT    1789 non-null   int64
 20  DEATHS_INDIRECT      1789 non-null   int64
 21  SOURCE               1789 non-null   object
 22  FLOOD_CAUSE          1789 non-null   object
 23  TOR_LENGTH           1789 non-null   object
 24  TOR_WIDTH            1789 non-null   object
 25  BEGIN_RANGE          1789 non-null   object
 26  BEGIN_AZIMUTH        1789 non-null   object
 27  END_RANGE            1789 non-null   object
 28  END_AZIMUTH          1789 non-null   object
 29  END_LOCATION         1789 non-null   object
 30  END_DATE             1789 non-null   object
 31  END_TIME             1789 non-null   int64
 32  BEGIN_LAT            1789 non-null   object
 33  BEGIN_LON            1789 non-null   object
 34  END_LAT              1789 non-null   object
 35  END_LON              1789 non-null   object
 36  EVENT_NARRATIVE      1672 non-null   object
 37  EPISODE_NARRATIVE    1696 non-null   object
 38  ABSOLUTE_ROWNUMBER   1788 non-null   object
 39  Unnamed: 39          9 non-null      object
 40  Unnamed: 40          7 non-null      float64
dtypes: float64(1), int64(11), object(29)
memory usage: 573.2+ KB

In [7]:
df1.columns

Index(['EVENT_ID', 'CZ_NAME_STR', 'BEGIN_LOCATION', 'BEGIN_DATE', 'BEGIN_TIME',
       'EVENT_TYPE', 'MAGNITUDE', 'TOR_F_SCALE', 'DEATHS_DIRECT',
       'INJURIES_DIRECT', 'DAMAGE_PROPERTY_NUM', 'DAMAGE_CROPS_NUM',
       'STATE_ABBR', 'CZ_TIMEZONE', 'MAGNITUDE_TYPE', 'EPISODE_ID', 'CZ_TYPE',
       'CZ_FIPS', 'WFO', 'INJURIES_INDIRECT', 'DEATHS_INDIRECT', 'SOURCE',
       'FLOOD_CAUSE', 'TOR_LENGTH', 'TOR_WIDTH', 'BEGIN_RANGE',
       'BEGIN_AZIMUTH', 'END_RANGE', 'END_AZIMUTH', 'END_LOCATION', 'END_DATE',
       'END_TIME', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON',
       'EVENT_NARRATIVE', 'EPISODE_NARRATIVE', 'ABSOLUTE_ROWNUMBER',
       'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42',
       'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46'],
      dtype='object')

In [8]:
df2.columns

Index(['EVENT_ID', 'CZ_NAME_STR', 'BEGIN_LOCATION', 'BEGIN_DATE', 'BEGIN_TIME',
       'EVENT_TYPE', 'MAGNITUDE', 'TOR_F_SCALE', 'DEATHS_DIRECT',
       'INJURIES_DIRECT', 'DAMAGE_PROPERTY_NUM', 'DAMAGE_CROPS_NUM',
       'STATE_ABBR', 'CZ_TIMEZONE', 'MAGNITUDE_TYPE', 'EPISODE_ID', 'CZ_TYPE',
       'CZ_FIPS', 'WFO', 'INJURIES_INDIRECT', 'DEATHS_INDIRECT', 'SOURCE',
       'FLOOD_CAUSE', 'TOR_LENGTH', 'TOR_WIDTH', 'BEGIN_RANGE',
       'BEGIN_AZIMUTH', 'END_RANGE', 'END_AZIMUTH', 'END_LOCATION', 'END_DATE',
       'END_TIME', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON',
       'EVENT_NARRATIVE', 'EPISODE_NARRATIVE', 'ABSOLUTE_ROWNUMBER',
       'Unnamed: 39', 'Unnamed: 40'],
      dtype='object')

In [9]:
df1.drop(columns=[ 'BEGIN_TIME','MAGNITUDE', 'TOR_F_SCALE', 'DEATHS_DIRECT', 'INJURIES_DIRECT',
                  'DAMAGE_PROPERTY_NUM', 'DAMAGE_CROPS_NUM', 'STATE_ABBR', 'CZ_TIMEZONE', 'MAGNITUDE_TYPE', 'EPISODE_ID', 
                  'WFO', 'INJURIES_INDIRECT', 'DEATHS_INDIRECT', 'SOURCE','TOR_LENGTH', 'TOR_WIDTH', 'BEGIN_RANGE',
       'BEGIN_AZIMUTH', 'END_RANGE', 'END_AZIMUTH', 'END_LOCATION', 'END_TIME', 'END_LAT', 'END_LON','EVENT_NARRATIVE', 'EPISODE_NARRATIVE', 'ABSOLUTE_ROWNUMBER',
       'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42',
       'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46'], inplace=True)

# IN GLUE

In [10]:
df2.drop(columns=['BEGIN_TIME','MAGNITUDE', 'TOR_F_SCALE', 'DEATHS_DIRECT', 'INJURIES_DIRECT',
                  'DAMAGE_PROPERTY_NUM', 'DAMAGE_CROPS_NUM', 'STATE_ABBR', 'CZ_TIMEZONE', 'MAGNITUDE_TYPE', 'EPISODE_ID', 
                  'WFO', 'INJURIES_INDIRECT', 'DEATHS_INDIRECT', 'SOURCE','TOR_LENGTH', 'TOR_WIDTH', 'BEGIN_RANGE',
       'BEGIN_AZIMUTH', 'END_RANGE', 'END_AZIMUTH', 'END_LOCATION', 'END_TIME', 'END_LAT', 'END_LON','EVENT_NARRATIVE', 'EPISODE_NARRATIVE', 'ABSOLUTE_ROWNUMBER',
       'Unnamed: 39', 'Unnamed: 40'], inplace=True)

In [11]:
df1.head()

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,EVENT_TYPE,CZ_TYPE,CZ_FIPS,FLOOD_CAUSE,END_DATE,BEGIN_LAT,BEGIN_LON
0,5438310,KERN CTY MTNS (ZONE),,1/9/2005,Flood,Z,95,,1/10/2005,38.35,-121.95
1,5438145,W/S ORANGE (ZONE),,1/9/2005,Flood,Z,42,,1/9/2005,,
2,5438144,SAN BERNARDINO COUNTY VALLEY/THE INLAND EMPIRE...,,1/9/2005,Flood,Z,48,,1/11/2005,,
3,5436665,SAN DIEGO COUNTY MOUNTAINS (ZONE),,1/9/2005,Flood,Z,58,,1/11/2005,,
4,5438323,TULARE CTY MTNS (ZONE),,1/9/2005,Flood,Z,97,,1/10/2005,38.45,-122.88333

In [12]:
df2.head()

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,EVENT_TYPE,CZ_TYPE,CZ_FIPS,FLOOD_CAUSE,END_DATE,BEGIN_LAT,BEGIN_LON
0,5437645,VENTURA CO.,COUNTYWIDE,1/3/2005,Flash Flood,C,111,,1/3/2005,34.48333,-118.05
1,5437644,SANTA BARBARA CO.,COUNTYWIDE,1/3/2005,Flash Flood,C,83,,1/3/2005,34.8,-120
2,5437646,LOS ANGELES CO.,COUNTYWIDE,1/3/2005,Flash Flood,C,37,,1/3/2005,34.33333,-118.36667
3,5436478,INYO CO.,DEATH VLY JCT,1/3/2005,Flash Flood,C,27,,1/3/2005,36.3,-116.41667
4,5438001,RIVERSIDE CO.,LAKE ELSINORE,1/3/2005,Flash Flood,C,65,,1/3/2005,33.7,-117.38333

In [13]:
df1= df1[df1['CZ_TYPE']!='Z']
df2= df2[df2['CZ_TYPE']!='Z']

df1.reset_index(inplace=True, drop=True)
df2.reset_index(inplace=True, drop=True)

In [14]:
df1[df1['EVENT_ID'].isin(df2['EVENT_ID'])]

Empty DataFrame
Columns: [EVENT_ID, CZ_NAME_STR, BEGIN_LOCATION, BEGIN_DATE, EVENT_TYPE, CZ_TYPE, CZ_FIPS, FLOOD_CAUSE, END_DATE, BEGIN_LAT, BEGIN_LON]
Index: []

In [15]:
df2[df2['EVENT_ID'].isin(df1['EVENT_ID'])]

Empty DataFrame
Columns: [EVENT_ID, CZ_NAME_STR, BEGIN_LOCATION, BEGIN_DATE, EVENT_TYPE, CZ_TYPE, CZ_FIPS, FLOOD_CAUSE, END_DATE, BEGIN_LAT, BEGIN_LON]
Index: []

In [16]:
df1= df1.replace(r'^\s+$', np.nan, regex=True)
df2= df2.replace(r'^\s+$', np.nan, regex=True)

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2375 entries, 0 to 2374
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EVENT_ID        2375 non-null   int64
 1   CZ_NAME_STR     2375 non-null   object
 2   BEGIN_LOCATION  2375 non-null   object
 3   BEGIN_DATE      2375 non-null   object
 4   EVENT_TYPE      2375 non-null   object
 5   CZ_TYPE         2375 non-null   object
 6   CZ_FIPS         2375 non-null   int64
 7   FLOOD_CAUSE     2321 non-null   object
 8   END_DATE        2375 non-null   object
 9   BEGIN_LAT       2370 non-null   object
 10  BEGIN_LON       2370 non-null   object
dtypes: int64(2), object(9)
memory usage: 204.2+ KB

In [18]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1789 entries, 0 to 1788
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EVENT_ID        1789 non-null   int64
 1   CZ_NAME_STR     1789 non-null   object
 2   BEGIN_LOCATION  1789 non-null   object
 3   BEGIN_DATE      1789 non-null   object
 4   EVENT_TYPE      1789 non-null   object
 5   CZ_TYPE         1789 non-null   object
 6   CZ_FIPS         1789 non-null   int64
 7   FLOOD_CAUSE     1578 non-null   object
 8   END_DATE        1789 non-null   object
 9   BEGIN_LAT       1769 non-null   object
 10  BEGIN_LON       1769 non-null   object
dtypes: int64(2), object(9)
memory usage: 153.9+ KB

In [19]:
df1['FLOOD_CAUSE'].fillna(value='Heavy Rain', inplace=True)
df2['FLOOD_CAUSE'].fillna(value='Heavy Rain', inplace=True)

In [20]:
df1.drop(columns=['CZ_TYPE'], inplace=True)
df2.drop(columns=['CZ_TYPE'], inplace=True)

In [21]:
df1['FLOOD_CAUSE'].value_counts()

Heavy Rain                      2292
Heavy Rain / Snow Melt            31
Heavy Rain / Burn Area            27
Dam / Levee Break                 13
Planned Dam Release                7
Heavy Rain / Tropical System       4
Ice Jam                            1
Name: FLOOD_CAUSE, dtype: int64

In [22]:
df2['FLOOD_CAUSE'].value_counts()

Heavy Rain                      1637
Heavy Rain / Burn Area           121
Heavy Rain / Tropical System      14
Dam / Levee Break                 13
Heavy Rain / Snow Melt             3
Planned Dam Release                1
Name: FLOOD_CAUSE, dtype: int64

In [23]:
df1['FLOOD_CAUSE']= df1['FLOOD_CAUSE'].apply(lambda x: x.split(' / ')[0])
df1['FLOOD_CAUSE'].value_counts()

Heavy Rain             2354
Dam                      13
Planned Dam Release       7
Ice Jam                   1
Name: FLOOD_CAUSE, dtype: int64

In [24]:
df2['FLOOD_CAUSE']= df2['FLOOD_CAUSE'].apply(lambda x: x.split(' / ')[0])
df2['FLOOD_CAUSE'].value_counts()

Heavy Rain             1775
Dam                      13
Planned Dam Release       1
Name: FLOOD_CAUSE, dtype: int64

In [25]:
df1['FLOOD_CAUSE']= df1['FLOOD_CAUSE'].str.replace('Planned Dam Release', 'Dam')
df1['FLOOD_CAUSE'].value_counts()

Heavy Rain    2354
Dam             20
Ice Jam          1
Name: FLOOD_CAUSE, dtype: int64

In [26]:
df2['FLOOD_CAUSE']= df2['FLOOD_CAUSE'].str.replace('Planned Dam Release', 'Dam')
df2['FLOOD_CAUSE'].value_counts()

Heavy Rain    1775
Dam             14
Name: FLOOD_CAUSE, dtype: int64

In [27]:
df1['FLOOD_CAUSE']= df1['FLOOD_CAUSE'].str.replace('Ice Jam', 'Heavy Rain')
df1['FLOOD_CAUSE'].value_counts()

Heavy Rain    2355
Dam             20
Name: FLOOD_CAUSE, dtype: int64

In [28]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2375 entries, 0 to 2374
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EVENT_ID        2375 non-null   int64
 1   CZ_NAME_STR     2375 non-null   object
 2   BEGIN_LOCATION  2375 non-null   object
 3   BEGIN_DATE      2375 non-null   object
 4   EVENT_TYPE      2375 non-null   object
 5   CZ_FIPS         2375 non-null   int64
 6   FLOOD_CAUSE     2375 non-null   object
 7   END_DATE        2375 non-null   object
 8   BEGIN_LAT       2370 non-null   object
 9   BEGIN_LON       2370 non-null   object
dtypes: int64(2), object(8)
memory usage: 185.7+ KB

In [29]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1789 entries, 0 to 1788
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EVENT_ID        1789 non-null   int64
 1   CZ_NAME_STR     1789 non-null   object
 2   BEGIN_LOCATION  1789 non-null   object
 3   BEGIN_DATE      1789 non-null   object
 4   EVENT_TYPE      1789 non-null   object
 5   CZ_FIPS         1789 non-null   int64
 6   FLOOD_CAUSE     1789 non-null   object
 7   END_DATE        1789 non-null   object
 8   BEGIN_LAT       1769 non-null   object
 9   BEGIN_LON       1769 non-null   object
dtypes: int64(2), object(8)
memory usage: 139.9+ KB

In [30]:
df2[df2['BEGIN_LAT'].isna()]

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,EVENT_TYPE,CZ_FIPS,FLOOD_CAUSE,END_DATE,BEGIN_LAT,BEGIN_LON
14,5439118,VENTURA CO.,COUNTYWIDE,1/9/2005,Flash Flood,111,Heavy Rain,1/10/2005,NaN,NaN
15,5438920,SANTA BARBARA CO.,SOUTH PORTION,1/9/2005,Flash Flood,83,Heavy Rain,1/9/2005,NaN,NaN
17,5439119,LOS ANGELES CO.,COUNTYWIDE,1/9/2005,Flash Flood,37,Heavy Rain,1/10/2005,NaN,NaN
194,5517026,INYO CO.,DEATH VLY JCT,7/4/2006,Flash Flood,27,Heavy Rain,7/4/2006,NaN,NaN
195,5517030,SAN BERNARDINO CO.,YERMO,7/7/2006,Flash Flood,71,Heavy Rain,7/7/2006,NaN,NaN
196,5523076,SAN BERNARDINO CO.,FOREST FALLS,7/7/2006,Flash Flood,71,Heavy Rain,7/7/2006,NaN,NaN
197,5521693,MONO CO.,WALKER,7/18/2006,Flash Flood,51,Heavy Rain,7/18/2006,NaN,NaN
198,5525634,LOS ANGELES CO.,LANCASTER,7/20/2006,Flash Flood,37,Heavy Rain,7/20/2006,NaN,NaN
199,5517553,FRESNO CO.,HUNTINGTON LAKE,7/21/2006,Flash Flood,19,Heavy Rain,7/21/2006,NaN,NaN
200,5525636,LOS ANGELES CO.,EAST CENTRAL PORTION,7/22/2006,Flash Flood,37,Heavy Rain,7/22/2006,NaN,NaN
201,5517561,FRESNO CO.,BIG CREEK,7/23/2006,Flash Flood,19,Heavy Rain,7/23/2006,NaN,NaN
202,5517560,FRESNO CO.,HUNTINGTON LAKE,7/23/2006,Flash Flood,19,Heavy Rain,7/23/2006,NaN,NaN
203,5525637,VENTURA CO.,NORTH CENTRAL PORTION,7/24/2006,Flash Flood,111,Heavy Rain,7/24/2006,NaN,NaN
204,5517129,SAN BERNARDINO CO.,NEEDLES,7/28/2006,Flash Flood,71,Heavy Rain,7/28/2006,NaN,NaN
205,5525125,SISKIYOU CO.,SOMES BAR,8/7/2006,Flash Flood,93,Heavy Rain,8/7/2006,NaN,NaN
206,5530853,RIVERSIDE CO.,PALM DESERT,9/2/2006,Flash Flood,65,Heavy Rain,9/2/2006,NaN,NaN
207,5531164,SAN BERNARDINO CO.,PIONEERTOWN,9/4/2006,Flash Flood,71,Heavy Rain,9/4/2006,NaN,NaN
208,5531447,RIVERSIDE CO.,SAN JACINTO,9/4/2006,Flash Flood,65,Heavy Rain,9/4/2006,NaN,NaN
209,5531450,RIVERSIDE CO.,HEMET,9/6/2006,Flash Flood,65,Heavy Rain,9/6/2006,NaN,NaN
210,5524996,INYO CO.,DEATH VLY,9/7/2006,Flash Flood,27,Heavy Rain,9/7/2006,NaN,NaN

In [31]:
df1[df1['BEGIN_LAT'].isna()]

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,EVENT_TYPE,CZ_FIPS,FLOOD_CAUSE,END_DATE,BEGIN_LAT,BEGIN_LON
38,5504113,MARIPOSA CO.,YOSEMITE VLG,4/3/2006,Flood,43,Heavy Rain,4/4/2006,NaN,NaN
39,5504116,MADERA CO.,NORTH FORK,4/3/2006,Flood,39,Heavy Rain,4/5/2006,NaN,NaN
50,5509838,MARIPOSA CO.,YOSEMITE VLG,5/12/2006,Flood,43,Heavy Rain,5/12/2006,NaN,NaN
51,5509837,MARIPOSA CO.,YOSEMITE VLG,5/14/2006,Flood,43,Heavy Rain,5/21/2006,NaN,NaN
53,5509835,MARIPOSA CO.,YOSEMITE VLG,5/21/2006,Flood,43,Heavy Rain,5/22/2006,NaN,NaN

In [32]:
duplicates = df1[df1[['CZ_NAME_STR', 'BEGIN_DATE', 'BEGIN_LOCATION', 'END_DATE']].duplicated()]
duplicates.sort_values(by=['CZ_NAME_STR', 'BEGIN_LOCATION', 'BEGIN_DATE'])

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,EVENT_TYPE,CZ_FIPS,FLOOD_CAUSE,END_DATE,BEGIN_LAT,BEGIN_LON
1593,867348,ALAMEDA CO.,EMERYVILLE,1/16/2020,Flood,1,Heavy Rain,1/16/2020,37.8282,-122.2818
1602,867380,ALAMEDA CO.,EMERYVILLE,1/16/2020,Flood,1,Heavy Rain,1/16/2020,37.8245,-122.2667
1603,867381,ALAMEDA CO.,EMERYVILLE,1/16/2020,Flood,1,Heavy Rain,1/16/2020,37.8468,-122.2455
1561,864655,ALAMEDA CO.,EMERYVILLE,12/7/2019,Flood,1,Heavy Rain,12/7/2019,37.8485,-122.2955
1004,744488,ALAMEDA CO.,EMERYVILLE,4/6/2018,Flood,1,Heavy Rain,4/6/2018,37.8351,-122.295
...,...,...,...,...,...,...,...,...,...,...
2280,1065266,TULARE CO.,TONYVILLE,1/10/2023,Flood,107,Heavy Rain,1/10/2023,36.2422,-119.091
1445,815658,TUOLUMNE CO.,SONORA,3/6/2019,Flood,109,Heavy Rain,3/6/2019,37.97,-120.4
2328,1078446,YOLO CO.,DUNNIGAN,1/14/2023,Flood,113,Heavy Rain,1/14/2023,38.8576,-121.9736
1144,805058,YOLO CO.,MADISON,1/17/2019,Flood,113,Heavy Rain,1/17/2019,38.68,-121.95
1158,805057,YOLO CO.,MADISON,1/17/2019,Flood,113,Heavy Rain,1/17/2019,38.68,-121.97

In [33]:
df1.shape

(2375, 10)

In [34]:
df1.drop_duplicates(subset=['CZ_NAME_STR', 'BEGIN_DATE', 'BEGIN_LOCATION', 'END_DATE'], inplace=True)
df1.shape

(2163, 10)

In [35]:
df2.shape

(1789, 10)

In [36]:
df2.drop_duplicates(subset=['CZ_NAME_STR', 'BEGIN_DATE', 'BEGIN_LOCATION', 'END_DATE'], inplace=True)
df2.shape

(1690, 10)

In [37]:
d= pd.concat([df1, df2])
d.shape

(3853, 10)

In [39]:
duplicates = d[d[['CZ_NAME_STR', 'BEGIN_DATE', 'BEGIN_LOCATION', 'END_DATE']].duplicated()]
duplicates.sort_values(by=['CZ_NAME_STR', 'BEGIN_LOCATION', 'BEGIN_DATE'], ascending=[True, True, True])

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,EVENT_TYPE,CZ_FIPS,FLOOD_CAUSE,END_DATE,BEGIN_LAT,BEGIN_LON
870,547229,ALAMEDA CO.,EMERYVILLE,12/11/2014,Flash Flood,1,Heavy Rain,12/11/2014,37.82,-122.27
1201,683500,ALAMEDA CO.,KILKARE WOODS,2/20/2017,Flash Flood,1,Heavy Rain,2/20/2017,37.633,-121.8907
1197,683474,ALAMEDA CO.,SUNOL,2/20/2017,Flash Flood,1,Heavy Rain,2/20/2017,37.5987,-121.9047
1400,821387,BUTTE CO.,CHICO,4/2/2019,Flash Flood,7,Heavy Rain,4/2/2019,39.7447,-121.8342
1565,982135,FRESNO CO.,(FCH) CHANDLER AF,10/25/2021,Flash Flood,19,Heavy Rain,10/25/2021,36.7391,-119.816
1132,681846,FRESNO CO.,MINKLER,1/12/2017,Flash Flood,19,Heavy Rain,1/12/2017,36.7246,-119.464
1163,682039,FRESNO CO.,TOLLHOUSE,2/3/2017,Flash Flood,19,Heavy Rain,2/3/2017,37.0305,-119.4509
1112,681812,KERN CO.,BODFISH,1/5/2017,Flash Flood,29,Heavy Rain,1/5/2017,35.5854,-118.5068
1392,801363,KERN CO.,DI GIORGIO,3/6/2019,Flash Flood,29,Heavy Rain,3/6/2019,35.2687,-118.8275
1111,681815,KERN CO.,EDISON,1/5/2017,Flash Flood,29,Heavy Rain,1/5/2017,35.3972,-118.8183
413,266316,KERN CO.,FORD CITY,10/6/2010,Flash Flood,29,Heavy Rain,10/6/2010,35.1437,-119.4705
1388,801269,KERN CO.,KERNVALE,3/6/2019,Flash Flood,29,Heavy Rain,3/6/2019,35.61,-118.49
1122,681835,MADERA CO.,NORTH FORK,1/9/2017,Flash Flood,39,Dam,1/9/2017,37.2614,-119.5352
592,425199,MARIN CO.,SAN ANSELMO,12/2/2012,Flash Flood,41,Heavy Rain,12/2/2012,37.98,-122.57
446,294594,MERCED CO.,(MER)CASTLE AFB,3/24/2011,Flash Flood,47,Heavy Rain,3/24/2011,37.3953,-120.5303
1178,684608,MERCED CO.,LE GRAND,2/10/2017,Flash Flood,47,Dam,2/10/2017,37.2424,-120.2378
1663,1057987,RIVERSIDE CO.,DESERT CENTER,8/24/2022,Flash Flood,65,Heavy Rain,8/24/2022,33.7211,-115.4073
726,483562,RIVERSIDE CO.,HIGH GROVE,11/21/2013,Flash Flood,65,Heavy Rain,11/21/2013,34.0763,-117.2928
1518,976654,RIVERSIDE CO.,MYOMA,7/25/2021,Flash Flood,65,Heavy Rain,7/25/2021,33.9246,-116.188
1195,683475,SAN BENITO CO.,DUNNEVILLE CORNERS,2/20/2017,Flash Flood,69,Heavy Rain,2/20/2017,36.9469,-121.4256
1066,635826,SAN BERNARDINO CO.,(ONT)ONTARIO ITNL AR,5/7/2016,Flash Flood,71,Heavy Rain,5/7/2016,34.0425,-117.6303
1590,1040048,SAN BERNARDINO CO.,LUCERNE VLY,7/30/2022,Flash Flood,71,Heavy Rain,7/30/2022,34.46,-116.95
1741,1067637,SAN BERNARDINO CO.,ONTARIO,11/8/2022,Flash Flood,71,Heavy Rain,11/8/2022,34.0787,-117.6301
1561,984204,SAN DIEGO CO.,SPRING VLY,9/24/2021,Flash Flood,73,Heavy Rain,9/24/2021,32.75,-116.96
1194,683471,SANTA CLARA CO.,SAN FELIPE,2/20/2017,Flash Flood,85,Heavy Rain,2/20/2017,36.9895,-121.3851
731,503746,SANTA CLARA CO.,SAN JOSE,2/28/2014,Flash Flood,85,Heavy Rain,2/28/2014,37.2944,-121.854
600,425188,SANTA CRUZ CO.,MT HERMON,12/23/2012,Flash Flood,87,Heavy Rain,12/23/2012,37.04,-122.07
875,547262,SONOMA CO.,HEALDSBURG,12/11/2014,Flash Flood,97,Heavy Rain,12/11/2014,38.6047,-122.8835
1266,740182,SONOMA CO.,HESSEL,3/22/2018,Flash Flood,97,Heavy Rain,3/22/2018,38.3525,-122.7419
1117,682460,SONOMA CO.,PENNGROVE,1/8/2017,Flash Flood,97,Heavy Rain,1/8/2017,38.3118,-122.688
1358,797372,SONOMA CO.,SCHELLVILLE,1/16/2019,Flash Flood,97,Heavy Rain,1/16/2019,38.2458,-122.4388
850,550055,TEHAMA CO.,RED BLUFF,12/3/2014,Flash Flood,103,Dam,12/3/2014,40.1889,-122.1796
1113,681833,TULARE CO.,KAWEAH,1/7/2017,Flash Flood,107,Heavy Rain,1/7/2017,36.4616,-118.8783
1114,675296,TULARE CO.,THREE RIVERS,1/7/2017,Flash Flood,107,Heavy Rain,1/7/2017,36.4521,-118.8268
1390,815663,TUOLUMNE CO.,SONORA,3/6/2019,Flash Flood,109,Heavy Rain,3/6/2019,37.98,-120.39
1778,1078969,VENTURA CO.,VENTURA,1/9/2023,Flash Flood,111,Heavy Rain,1/9/2023,34.2806,-119.3011

In [40]:
d.drop_duplicates(subset=['CZ_NAME_STR', 'BEGIN_DATE', 'BEGIN_LOCATION', 'END_DATE'], inplace=True)

In [41]:
d.shape

(3817, 10)

In [42]:
d

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,EVENT_TYPE,CZ_FIPS,FLOOD_CAUSE,END_DATE,BEGIN_LAT,BEGIN_LON
0,5482179,SIERRA CO.,SIERRAVILLE,12/30/2005,Flood,91,Heavy Rain,12/31/2005,39.6,-120.48333
1,5482283,NEVADA CO.,NORDEN,12/31/2005,Flood,57,Heavy Rain,12/31/2005,39.28333,-120.28333
2,5482285,EL DORADO CO.,SOUTH LAKE TAHOE,12/31/2005,Flood,17,Heavy Rain,12/31/2005,38.88333,-119.96667
3,5482177,LASSEN CO.,SUSANVILLE,12/31/2005,Flood,35,Heavy Rain,12/31/2005,40.41667,-120.73333
4,5482284,PLACER CO.,TAHOE CITY,12/31/2005,Flood,61,Heavy Rain,12/31/2005,39.23333,-120.15
...,...,...,...,...,...,...,...,...,...,...
1784,1069204,ORANGE CO.,LAGUNA HILLS,1/14/2023,Flash Flood,59,Heavy Rain,1/14/2023,33.5902,-117.7423
1785,1068522,SAN DIEGO CO.,SAN DIEGO,1/15/2023,Flash Flood,73,Heavy Rain,1/16/2023,32.8079,-117.1
1786,1069368,SAN DIEGO CO.,SAN MARCOS,1/16/2023,Flash Flood,73,Heavy Rain,1/16/2023,33.0831,-117.1369
1787,1078934,SAN BERNARDINO CO.,MORONGO LODGE,1/16/2023,Flash Flood,71,Heavy Rain,1/16/2023,34.0475,-116.5805
1788,1069365,SAN DIEGO CO.,VALLEY CENTER,1/16/2023,Flash Flood,73,Heavy Rain,1/16/2023,33.3136,-116.9836

In [43]:
d['BEGIN_DATE']= pd.to_datetime(d['BEGIN_DATE'])
d['END_DATE']= pd.to_datetime(d['END_DATE'])
d['FLOOD_IMPACT_IN_DAYS']= d['END_DATE']-d['BEGIN_DATE']
d

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,EVENT_TYPE,CZ_FIPS,FLOOD_CAUSE,END_DATE,BEGIN_LAT,BEGIN_LON,FLOOD_IMPACT_IN_DAYS
0,5482179,SIERRA CO.,SIERRAVILLE,2005-12-30,Flood,91,Heavy Rain,2005-12-31,39.6,-120.48333,1 days
1,5482283,NEVADA CO.,NORDEN,2005-12-31,Flood,57,Heavy Rain,2005-12-31,39.28333,-120.28333,0 days
2,5482285,EL DORADO CO.,SOUTH LAKE TAHOE,2005-12-31,Flood,17,Heavy Rain,2005-12-31,38.88333,-119.96667,0 days
3,5482177,LASSEN CO.,SUSANVILLE,2005-12-31,Flood,35,Heavy Rain,2005-12-31,40.41667,-120.73333,0 days
4,5482284,PLACER CO.,TAHOE CITY,2005-12-31,Flood,61,Heavy Rain,2005-12-31,39.23333,-120.15,0 days
...,...,...,...,...,...,...,...,...,...,...,...
1784,1069204,ORANGE CO.,LAGUNA HILLS,2023-01-14,Flash Flood,59,Heavy Rain,2023-01-14,33.5902,-117.7423,0 days
1785,1068522,SAN DIEGO CO.,SAN DIEGO,2023-01-15,Flash Flood,73,Heavy Rain,2023-01-16,32.8079,-117.1,1 days
1786,1069368,SAN DIEGO CO.,SAN MARCOS,2023-01-16,Flash Flood,73,Heavy Rain,2023-01-16,33.0831,-117.1369,0 days
1787,1078934,SAN BERNARDINO CO.,MORONGO LODGE,2023-01-16,Flash Flood,71,Heavy Rain,2023-01-16,34.0475,-116.5805,0 days
1788,1069365,SAN DIEGO CO.,VALLEY CENTER,2023-01-16,Flash Flood,73,Heavy Rain,2023-01-16,33.3136,-116.9836,0 days

In [44]:
d['FLOOD_IMPACT_IN_DAYS'].value_counts()

0 days     3449
1 days      289
2 days       38
3 days       10
6 days        6
16 days       6
7 days        3
5 days        3
10 days       3
4 days        2
18 days       2
12 days       1
29 days       1
22 days       1
28 days       1
30 days       1
23 days       1
Name: FLOOD_IMPACT_IN_DAYS, dtype: int64

In [45]:
d['FLOOD_IMPACT_IN_DAYS']= d['FLOOD_IMPACT_IN_DAYS'].apply(lambda x: str(x).split(' ')[0])
d

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,EVENT_TYPE,CZ_FIPS,FLOOD_CAUSE,END_DATE,BEGIN_LAT,BEGIN_LON,FLOOD_IMPACT_IN_DAYS
0,5482179,SIERRA CO.,SIERRAVILLE,2005-12-30,Flood,91,Heavy Rain,2005-12-31,39.6,-120.48333,1
1,5482283,NEVADA CO.,NORDEN,2005-12-31,Flood,57,Heavy Rain,2005-12-31,39.28333,-120.28333,0
2,5482285,EL DORADO CO.,SOUTH LAKE TAHOE,2005-12-31,Flood,17,Heavy Rain,2005-12-31,38.88333,-119.96667,0
3,5482177,LASSEN CO.,SUSANVILLE,2005-12-31,Flood,35,Heavy Rain,2005-12-31,40.41667,-120.73333,0
4,5482284,PLACER CO.,TAHOE CITY,2005-12-31,Flood,61,Heavy Rain,2005-12-31,39.23333,-120.15,0
...,...,...,...,...,...,...,...,...,...,...,...
1784,1069204,ORANGE CO.,LAGUNA HILLS,2023-01-14,Flash Flood,59,Heavy Rain,2023-01-14,33.5902,-117.7423,0
1785,1068522,SAN DIEGO CO.,SAN DIEGO,2023-01-15,Flash Flood,73,Heavy Rain,2023-01-16,32.8079,-117.1,1
1786,1069368,SAN DIEGO CO.,SAN MARCOS,2023-01-16,Flash Flood,73,Heavy Rain,2023-01-16,33.0831,-117.1369,0
1787,1078934,SAN BERNARDINO CO.,MORONGO LODGE,2023-01-16,Flash Flood,71,Heavy Rain,2023-01-16,34.0475,-116.5805,0
1788,1069365,SAN DIEGO CO.,VALLEY CENTER,2023-01-16,Flash Flood,73,Heavy Rain,2023-01-16,33.3136,-116.9836,0

In [46]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3817 entries, 0 to 1788
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   EVENT_ID              3817 non-null   int64
 1   CZ_NAME_STR           3817 non-null   object
 2   BEGIN_LOCATION        3817 non-null   object
 3   BEGIN_DATE            3817 non-null   datetime64[ns]
 4   EVENT_TYPE            3817 non-null   object
 5   CZ_FIPS               3817 non-null   int64
 6   FLOOD_CAUSE           3817 non-null   object
 7   END_DATE              3817 non-null   datetime64[ns]
 8   BEGIN_LAT             3792 non-null   object
 9   BEGIN_LON             3792 non-null   object
 10  FLOOD_IMPACT_IN_DAYS  3817 non-null   object
dtypes: datetime64[ns](2), int64(2), object(7)
memory usage: 357.8+ KB

In [47]:
d.sort_values(by=['CZ_NAME_STR', 'BEGIN_DATE', 'BEGIN_LOCATION', 'EVENT_TYPE', 'END_DATE', 'FLOOD_IMPACT_IN_DAYS'], 
            ascending=[True, True, True, True, False, False], inplace=True)
d.reset_index(inplace=True, drop=True)
d

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,EVENT_TYPE,CZ_FIPS,FLOOD_CAUSE,END_DATE,BEGIN_LAT,BEGIN_LON,FLOOD_IMPACT_IN_DAYS
0,5482520,ALAMEDA CO.,COUNTYWIDE,2005-12-31,Flood,1,Heavy Rain,2005-12-31,37.65,-121.75,0
1,5486534,ALAMEDA CO.,COUNTYWIDE,2006-01-01,Flood,1,Heavy Rain,2006-01-01,37.65,-121.75,0
2,200004,ALAMEDA CO.,ALAMEDA,2009-10-13,Flood,1,Heavy Rain,2009-10-13,37.801,-122.2828,0
3,200003,ALAMEDA CO.,PIEDMONT,2009-10-13,Flood,1,Heavy Rain,2009-10-13,37.8204,-122.2576,0
4,200007,ALAMEDA CO.,PLEASANTON,2009-10-13,Flood,1,Heavy Rain,2009-10-13,37.6583,-121.8991,0
...,...,...,...,...,...,...,...,...,...,...,...
3812,5488506,YUBA CO.,COUNTYWIDE,2006-01-01,Flood,115,Heavy Rain,2006-01-03,39.28333,-121.36667,2
3813,747175,YUBA CO.,MARYSVILLE,2018-03-22,Flood,115,Heavy Rain,2018-03-27,39.1642,-121.6145,5
3814,750852,YUBA CO.,LOG CABIN,2018-04-06,Flood,115,Heavy Rain,2018-04-07,39.44,-121.07,1
3815,990800,YUBA CO.,LOMA RICA,2021-10-24,Flood,115,Heavy Rain,2021-10-24,39.32,-121.38,0
3816,1078655,YUBA CO.,RAMIREZ,2023-01-05,Flood,115,Heavy Rain,2023-01-05,39.27,-121.54,0

In [48]:
d.columns= d.columns.str.lower()
d

,event_id,cz_name_str,begin_location,begin_date,event_type,cz_fips,flood_cause,end_date,begin_lat,begin_lon,flood_impact_in_days
0,5482520,ALAMEDA CO.,COUNTYWIDE,2005-12-31,Flood,1,Heavy Rain,2005-12-31,37.65,-121.75,0
1,5486534,ALAMEDA CO.,COUNTYWIDE,2006-01-01,Flood,1,Heavy Rain,2006-01-01,37.65,-121.75,0
2,200004,ALAMEDA CO.,ALAMEDA,2009-10-13,Flood,1,Heavy Rain,2009-10-13,37.801,-122.2828,0
3,200003,ALAMEDA CO.,PIEDMONT,2009-10-13,Flood,1,Heavy Rain,2009-10-13,37.8204,-122.2576,0
4,200007,ALAMEDA CO.,PLEASANTON,2009-10-13,Flood,1,Heavy Rain,2009-10-13,37.6583,-121.8991,0
...,...,...,...,...,...,...,...,...,...,...,...
3812,5488506,YUBA CO.,COUNTYWIDE,2006-01-01,Flood,115,Heavy Rain,2006-01-03,39.28333,-121.36667,2
3813,747175,YUBA CO.,MARYSVILLE,2018-03-22,Flood,115,Heavy Rain,2018-03-27,39.1642,-121.6145,5
3814,750852,YUBA CO.,LOG CABIN,2018-04-06,Flood,115,Heavy Rain,2018-04-07,39.44,-121.07,1
3815,990800,YUBA CO.,LOMA RICA,2021-10-24,Flood,115,Heavy Rain,2021-10-24,39.32,-121.38,0
3816,1078655,YUBA CO.,RAMIREZ,2023-01-05,Flood,115,Heavy Rain,2023-01-05,39.27,-121.54,0

In [50]:
d.drop(columns=['end_date'], inplace=True)
d['flood_impact_in_days']= d['flood_impact_in_days'].astype('int64')
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3817 entries, 0 to 3816
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   event_id              3817 non-null   int64
 1   cz_name_str           3817 non-null   object
 2   begin_location        3817 non-null   object
 3   begin_date            3817 non-null   datetime64[ns]
 4   event_type            3817 non-null   object
 5   cz_fips               3817 non-null   int64
 6   flood_cause           3817 non-null   object
 7   begin_lat             3792 non-null   object
 8   begin_lon             3792 non-null   object
 9   flood_impact_in_days  3817 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 298.3+ KB

In [51]:
d.reset_index(inplace=True, drop=True)
d

,event_id,cz_name_str,begin_location,begin_date,event_type,cz_fips,flood_cause,begin_lat,begin_lon,flood_impact_in_days
0,5482520,ALAMEDA CO.,COUNTYWIDE,2005-12-31,Flood,1,Heavy Rain,37.65,-121.75,0
1,5486534,ALAMEDA CO.,COUNTYWIDE,2006-01-01,Flood,1,Heavy Rain,37.65,-121.75,0
2,200004,ALAMEDA CO.,ALAMEDA,2009-10-13,Flood,1,Heavy Rain,37.801,-122.2828,0
3,200003,ALAMEDA CO.,PIEDMONT,2009-10-13,Flood,1,Heavy Rain,37.8204,-122.2576,0
4,200007,ALAMEDA CO.,PLEASANTON,2009-10-13,Flood,1,Heavy Rain,37.6583,-121.8991,0
...,...,...,...,...,...,...,...,...,...,...
3812,5488506,YUBA CO.,COUNTYWIDE,2006-01-01,Flood,115,Heavy Rain,39.28333,-121.36667,2
3813,747175,YUBA CO.,MARYSVILLE,2018-03-22,Flood,115,Heavy Rain,39.1642,-121.6145,5
3814,750852,YUBA CO.,LOG CABIN,2018-04-06,Flood,115,Heavy Rain,39.44,-121.07,1
3815,990800,YUBA CO.,LOMA RICA,2021-10-24,Flood,115,Heavy Rain,39.32,-121.38,0
3816,1078655,YUBA CO.,RAMIREZ,2023-01-05,Flood,115,Heavy Rain,39.27,-121.54,0

In [53]:
len(d['cz_name_str'].unique())

58

In [54]:
d1= d[d['begin_lat'].isna()]
d.dropna(inplace=True)

In [55]:
d.shape

(3792, 10)

In [56]:
d1.shape

(25, 10)

In [57]:
d1

,event_id,cz_name_str,begin_location,begin_date,event_type,cz_fips,flood_cause,begin_lat,begin_lon,flood_impact_in_days
254,5517553,FRESNO CO.,HUNTINGTON LAKE,2006-07-21,Flash Flood,19,Heavy Rain,NaN,NaN,0
255,5517561,FRESNO CO.,BIG CREEK,2006-07-23,Flash Flood,19,Heavy Rain,NaN,NaN,0
256,5517560,FRESNO CO.,HUNTINGTON LAKE,2006-07-23,Flash Flood,19,Heavy Rain,NaN,NaN,0
569,5517026,INYO CO.,DEATH VLY JCT,2006-07-04,Flash Flood,27,Heavy Rain,NaN,NaN,0
570,5524996,INYO CO.,DEATH VLY,2006-09-07,Flash Flood,27,Heavy Rain,NaN,NaN,0
1060,5439119,LOS ANGELES CO.,COUNTYWIDE,2005-01-09,Flash Flood,37,Heavy Rain,NaN,NaN,1
1070,5525634,LOS ANGELES CO.,LANCASTER,2006-07-20,Flash Flood,37,Heavy Rain,NaN,NaN,0
1071,5525636,LOS ANGELES CO.,EAST CENTRAL PORTION,2006-07-22,Flash Flood,37,Heavy Rain,NaN,NaN,0
1171,5504116,MADERA CO.,NORTH FORK,2006-04-03,Flood,39,Heavy Rain,NaN,NaN,2
1304,5504113,MARIPOSA CO.,YOSEMITE VLG,2006-04-03,Flood,43,Heavy Rain,NaN,NaN,1
1305,5509838,MARIPOSA CO.,YOSEMITE VLG,2006-05-12,Flood,43,Heavy Rain,NaN,NaN,0
1306,5509837,MARIPOSA CO.,YOSEMITE VLG,2006-05-14,Flood,43,Heavy Rain,NaN,NaN,7
1307,5509835,MARIPOSA CO.,YOSEMITE VLG,2006-05-21,Flood,43,Heavy Rain,NaN,NaN,1
1501,5521693,MONO CO.,WALKER,2006-07-18,Flash Flood,51,Heavy Rain,NaN,NaN,0
1766,5530853,RIVERSIDE CO.,PALM DESERT,2006-09-02,Flash Flood,65,Heavy Rain,NaN,NaN,0
1767,5531447,RIVERSIDE CO.,SAN JACINTO,2006-09-04,Flash Flood,65,Heavy Rain,NaN,NaN,0
1768,5531450,RIVERSIDE CO.,HEMET,2006-09-06,Flash Flood,65,Heavy Rain,NaN,NaN,0
2164,5523076,SAN BERNARDINO CO.,FOREST FALLS,2006-07-07,Flash Flood,71,Heavy Rain,NaN,NaN,0
2165,5517030,SAN BERNARDINO CO.,YERMO,2006-07-07,Flash Flood,71,Heavy Rain,NaN,NaN,0
2166,5517129,SAN BERNARDINO CO.,NEEDLES,2006-07-28,Flash Flood,71,Heavy Rain,NaN,NaN,0
2167,5531164,SAN BERNARDINO CO.,PIONEERTOWN,2006-09-04,Flash Flood,71,Heavy Rain,NaN,NaN,0
3150,5438920,SANTA BARBARA CO.,SOUTH PORTION,2005-01-09,Flash Flood,83,Heavy Rain,NaN,NaN,0
3357,5525125,SISKIYOU CO.,SOMES BAR,2006-08-07,Flash Flood,93,Heavy Rain,NaN,NaN,0
3753,5439118,VENTURA CO.,COUNTYWIDE,2005-01-09,Flash Flood,111,Heavy Rain,NaN,NaN,1
3757,5525637,VENTURA CO.,NORTH CENTRAL PORTION,2006-07-24,Flash Flood,111,Heavy Rain,NaN,NaN,0

In [59]:
d.columns

Index(['event_id', 'cz_name_str', 'begin_location', 'begin_date', 'event_type',
       'cz_fips', 'flood_cause', 'begin_lat', 'begin_lon',
       'flood_impact_in_days'],
      dtype='object')

In [61]:
d['cz_name_str']= d.cz_name_str.str.replace('CO.', "County")
d['cz_name_str']= d['cz_name_str'].str.title()
d

/var/folders/q4/8qvknrhs5d9dq4q2zxqgqzxr0000gn/T/ipykernel_3355/1648358886.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  d['cz_name_str']= d.cz_name_str.str.replace('CO.', "County")

,event_id,cz_name_str,begin_location,begin_date,event_type,cz_fips,flood_cause,begin_lat,begin_lon,flood_impact_in_days
0,5482520,Alameda County,COUNTYWIDE,2005-12-31,Flood,1,Heavy Rain,37.65,-121.75,0
1,5486534,Alameda County,COUNTYWIDE,2006-01-01,Flood,1,Heavy Rain,37.65,-121.75,0
2,200004,Alameda County,ALAMEDA,2009-10-13,Flood,1,Heavy Rain,37.801,-122.2828,0
3,200003,Alameda County,PIEDMONT,2009-10-13,Flood,1,Heavy Rain,37.8204,-122.2576,0
4,200007,Alameda County,PLEASANTON,2009-10-13,Flood,1,Heavy Rain,37.6583,-121.8991,0
...,...,...,...,...,...,...,...,...,...,...
3812,5488506,Yuba County,COUNTYWIDE,2006-01-01,Flood,115,Heavy Rain,39.28333,-121.36667,2
3813,747175,Yuba County,MARYSVILLE,2018-03-22,Flood,115,Heavy Rain,39.1642,-121.6145,5
3814,750852,Yuba County,LOG CABIN,2018-04-06,Flood,115,Heavy Rain,39.44,-121.07,1
3815,990800,Yuba County,LOMA RICA,2021-10-24,Flood,115,Heavy Rain,39.32,-121.38,0
3816,1078655,Yuba County,RAMIREZ,2023-01-05,Flood,115,Heavy Rain,39.27,-121.54,0

In [62]:
d1.cz_name_str= d1.cz_name_str.str.replace('CO.', "County")
d1['cz_name_str']= d1['cz_name_str'].str.title()
d1

/var/folders/q4/8qvknrhs5d9dq4q2zxqgqzxr0000gn/T/ipykernel_3355/2493347456.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  d1.cz_name_str= d1.cz_name_str.str.replace('CO.', "County")
/var/folders/q4/8qvknrhs5d9dq4q2zxqgqzxr0000gn/T/ipykernel_3355/2493347456.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d1.cz_name_str= d1.cz_name_str.str.replace('CO.', "County")
/var/folders/q4/8qvknrhs5d9dq4q2zxqgqzxr0000gn/T/ipykernel_3355/2493347456.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d1['cz_name_str']= d1['cz_name_str'].str.title()

,event_id,cz_name_str,begin_location,begin_date,event_type,cz_fips,flood_cause,begin_lat,begin_lon,flood_impact_in_days
254,5517553,Fresno County,HUNTINGTON LAKE,2006-07-21,Flash Flood,19,Heavy Rain,NaN,NaN,0
255,5517561,Fresno County,BIG CREEK,2006-07-23,Flash Flood,19,Heavy Rain,NaN,NaN,0
256,5517560,Fresno County,HUNTINGTON LAKE,2006-07-23,Flash Flood,19,Heavy Rain,NaN,NaN,0
569,5517026,Inyo County,DEATH VLY JCT,2006-07-04,Flash Flood,27,Heavy Rain,NaN,NaN,0
570,5524996,Inyo County,DEATH VLY,2006-09-07,Flash Flood,27,Heavy Rain,NaN,NaN,0
1060,5439119,Los Angeles County,COUNTYWIDE,2005-01-09,Flash Flood,37,Heavy Rain,NaN,NaN,1
1070,5525634,Los Angeles County,LANCASTER,2006-07-20,Flash Flood,37,Heavy Rain,NaN,NaN,0
1071,5525636,Los Angeles County,EAST CENTRAL PORTION,2006-07-22,Flash Flood,37,Heavy Rain,NaN,NaN,0
1171,5504116,Madera County,NORTH FORK,2006-04-03,Flood,39,Heavy Rain,NaN,NaN,2
1304,5504113,Mariposa County,YOSEMITE VLG,2006-04-03,Flood,43,Heavy Rain,NaN,NaN,1
1305,5509838,Mariposa County,YOSEMITE VLG,2006-05-12,Flood,43,Heavy Rain,NaN,NaN,0
1306,5509837,Mariposa County,YOSEMITE VLG,2006-05-14,Flood,43,Heavy Rain,NaN,NaN,7
1307,5509835,Mariposa County,YOSEMITE VLG,2006-05-21,Flood,43,Heavy Rain,NaN,NaN,1
1501,5521693,Mono County,WALKER,2006-07-18,Flash Flood,51,Heavy Rain,NaN,NaN,0
1766,5530853,Riverside County,PALM DESERT,2006-09-02,Flash Flood,65,Heavy Rain,NaN,NaN,0
1767,5531447,Riverside County,SAN JACINTO,2006-09-04,Flash Flood,65,Heavy Rain,NaN,NaN,0
1768,5531450,Riverside County,HEMET,2006-09-06,Flash Flood,65,Heavy Rain,NaN,NaN,0
2164,5523076,San Bernardino County,FOREST FALLS,2006-07-07,Flash Flood,71,Heavy Rain,NaN,NaN,0
2165,5517030,San Bernardino County,YERMO,2006-07-07,Flash Flood,71,Heavy Rain,NaN,NaN,0
2166,5517129,San Bernardino County,NEEDLES,2006-07-28,Flash Flood,71,Heavy Rain,NaN,NaN,0
2167,5531164,San Bernardino County,PIONEERTOWN,2006-09-04,Flash Flood,71,Heavy Rain,NaN,NaN,0
3150,5438920,Santa Barbara County,SOUTH PORTION,2005-01-09,Flash Flood,83,Heavy Rain,NaN,NaN,0
3357,5525125,Siskiyou County,SOMES BAR,2006-08-07,Flash Flood,93,Heavy Rain,NaN,NaN,0
3753,5439118,Ventura County,COUNTYWIDE,2005-01-09,Flash Flood,111,Heavy Rain,NaN,NaN,1
3757,5525637,Ventura County,NORTH CENTRAL PORTION,2006-07-24,Flash Flood,111,Heavy Rain,NaN,NaN,0

In [63]:
d.columns

Index(['event_id', 'cz_name_str', 'begin_location', 'begin_date', 'event_type',
       'cz_fips', 'flood_cause', 'begin_lat', 'begin_lon',
       'flood_impact_in_days'],
      dtype='object')

In [64]:
import pandas as pd
from geopy.geocoders import Nominatim

# create a geocoder object
geolocator = Nominatim(user_agent="sk-application")

# define a function to get latitude and longitude for a given location string
def get_lat_lon(location_str):
    location = geolocator.geocode(location_str)
    if location is None:
        return None, None
    else:
        return location.latitude, location.longitude

# iterate over the rows of the dataframe and fill in missing latitude and longitude values
for i, row in d1.iterrows():
    if pd.isna(row['begin_lat']) or pd.isna(row['begin_lon']):
        location_str = row['begin_location'] + ', ' + row['cz_name_str'] + ', USA'
        lat, lon = get_lat_lon(location_str)
        d1.loc[i, 'begin_lat'] = lat
        d1.loc[i, 'begin_lon'] = lon

print(d1)

      event_id            cz_name_str         begin_location begin_date  \
254    5517553          Fresno County        HUNTINGTON LAKE 2006-07-21
255    5517561          Fresno County              BIG CREEK 2006-07-23
256    5517560          Fresno County        HUNTINGTON LAKE 2006-07-23
569    5517026            Inyo County          DEATH VLY JCT 2006-07-04
570    5524996            Inyo County              DEATH VLY 2006-09-07
1060   5439119     Los Angeles County             COUNTYWIDE 2005-01-09
1070   5525634     Los Angeles County              LANCASTER 2006-07-20
1071   5525636     Los Angeles County   EAST CENTRAL PORTION 2006-07-22
1171   5504116          Madera County             NORTH FORK 2006-04-03
1304   5504113        Mariposa County           YOSEMITE VLG 2006-04-03
1305   5509838        Mariposa County           YOSEMITE VLG 2006-05-12
1306   5509837        Mariposa County           YOSEMITE VLG 2006-05-14
1307   5509835        Mariposa County           YOSEMITE VLG 2006-05-21
1501   5521693            Mono County                 WALKER 2006-07-18
1766   5530853       Riverside County            PALM DESERT 2006-09-02
1767   5531447       Riverside County            SAN JACINTO 2006-09-04
1768   5531450       Riverside County                  HEMET 2006-09-06
2164   5523076  San Bernardino County           FOREST FALLS 2006-07-07
2165   5517030  San Bernardino County                  YERMO 2006-07-07
2166   5517129  San Bernardino County                NEEDLES 2006-07-28
2167   5531164  San Bernardino County            PIONEERTOWN 2006-09-04
3150   5438920   Santa Barbara County          SOUTH PORTION 2005-01-09
3357   5525125        Siskiyou County              SOMES BAR 2006-08-07
3753   5439118         Ventura County             COUNTYWIDE 2005-01-09
3757   5525637         Ventura County  NORTH CENTRAL PORTION 2006-07-24

       event_type  cz_fips flood_cause  begin_lat   begin_lon  \
254   Flash Flood       19  Heavy Rain  37.231741 -119.235688
255   Flash Flood       19  Heavy Rain  37.204946 -119.245956
256   Flash Flood       19  Heavy Rain  37.231741 -119.235688
569   Flash Flood       27  Heavy Rain       None        None
570   Flash Flood       27  Heavy Rain       None        None
1060  Flash Flood       37  Heavy Rain       None        None
1070  Flash Flood       37  Heavy Rain  34.698106 -118.136615
1071  Flash Flood       37  Heavy Rain       None        None
1171        Flood       39  Heavy Rain  37.229669 -119.509581
1304        Flood       43  Heavy Rain       None        None
1305        Flood       43  Heavy Rain       None        None
1306        Flood       43  Heavy Rain       None        None
1307        Flood       43  Heavy Rain       None        None
1501  Flash Flood       51  Heavy Rain  38.516249 -119.478792
1766  Flash Flood       65  Heavy Rain  33.728818 -116.382571
1767  Flash Flood       65  Heavy Rain  33.783966 -116.958909
1768  Flash Flood       65  Heavy Rain   33.74752 -116.971968
2164  Flash Flood       71  Heavy Rain  34.088345 -116.920305
2165  Flash Flood       71  Heavy Rain  34.904985 -116.820312
2166  Flash Flood       71  Heavy Rain   34.84806 -114.614132
2167  Flash Flood       71  Heavy Rain  34.155757 -116.496272
3150  Flash Flood       83  Heavy Rain       None        None
3357  Flash Flood       93  Heavy Rain  41.376238 -123.476169
3753  Flash Flood      111  Heavy Rain       None        None
3757  Flash Flood      111  Heavy Rain       None        None

      flood_impact_in_days
254                      0
255                      0
256                      0
569                      0
570                      0
1060                     1
1070                     0
1071                     0
1171                     2
1304                     1
1305                     0
1306                     7
1307                     1
1501                     0
1766                     0
1767                     0
1768                     0
2164                     0
2165                     0
2166                     0
2167                     0
3150                     0
3357                     0
3753                     1
3757                     0

In [65]:
d11= d1[d1['begin_lat'].isna()]
d11

,event_id,cz_name_str,begin_location,begin_date,event_type,cz_fips,flood_cause,begin_lat,begin_lon,flood_impact_in_days
569,5517026,Inyo County,DEATH VLY JCT,2006-07-04,Flash Flood,27,Heavy Rain,None,None,0
570,5524996,Inyo County,DEATH VLY,2006-09-07,Flash Flood,27,Heavy Rain,None,None,0
1060,5439119,Los Angeles County,COUNTYWIDE,2005-01-09,Flash Flood,37,Heavy Rain,None,None,1
1071,5525636,Los Angeles County,EAST CENTRAL PORTION,2006-07-22,Flash Flood,37,Heavy Rain,None,None,0
1304,5504113,Mariposa County,YOSEMITE VLG,2006-04-03,Flood,43,Heavy Rain,None,None,1
1305,5509838,Mariposa County,YOSEMITE VLG,2006-05-12,Flood,43,Heavy Rain,None,None,0
1306,5509837,Mariposa County,YOSEMITE VLG,2006-05-14,Flood,43,Heavy Rain,None,None,7
1307,5509835,Mariposa County,YOSEMITE VLG,2006-05-21,Flood,43,Heavy Rain,None,None,1
3150,5438920,Santa Barbara County,SOUTH PORTION,2005-01-09,Flash Flood,83,Heavy Rain,None,None,0
3753,5439118,Ventura County,COUNTYWIDE,2005-01-09,Flash Flood,111,Heavy Rain,None,None,1
3757,5525637,Ventura County,NORTH CENTRAL PORTION,2006-07-24,Flash Flood,111,Heavy Rain,None,None,0

In [66]:
d1.dropna(inplace=True)

/var/folders/q4/8qvknrhs5d9dq4q2zxqgqzxr0000gn/T/ipykernel_3355/2321081915.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d1.dropna(inplace=True)

In [67]:
d11

,event_id,cz_name_str,begin_location,begin_date,event_type,cz_fips,flood_cause,begin_lat,begin_lon,flood_impact_in_days
569,5517026,Inyo County,DEATH VLY JCT,2006-07-04,Flash Flood,27,Heavy Rain,None,None,0
570,5524996,Inyo County,DEATH VLY,2006-09-07,Flash Flood,27,Heavy Rain,None,None,0
1060,5439119,Los Angeles County,COUNTYWIDE,2005-01-09,Flash Flood,37,Heavy Rain,None,None,1
1071,5525636,Los Angeles County,EAST CENTRAL PORTION,2006-07-22,Flash Flood,37,Heavy Rain,None,None,0
1304,5504113,Mariposa County,YOSEMITE VLG,2006-04-03,Flood,43,Heavy Rain,None,None,1
1305,5509838,Mariposa County,YOSEMITE VLG,2006-05-12,Flood,43,Heavy Rain,None,None,0
1306,5509837,Mariposa County,YOSEMITE VLG,2006-05-14,Flood,43,Heavy Rain,None,None,7
1307,5509835,Mariposa County,YOSEMITE VLG,2006-05-21,Flood,43,Heavy Rain,None,None,1
3150,5438920,Santa Barbara County,SOUTH PORTION,2005-01-09,Flash Flood,83,Heavy Rain,None,None,0
3753,5439118,Ventura County,COUNTYWIDE,2005-01-09,Flash Flood,111,Heavy Rain,None,None,1
3757,5525637,Ventura County,NORTH CENTRAL PORTION,2006-07-24,Flash Flood,111,Heavy Rain,None,None,0

In [69]:
d11.loc[d11['cz_name_str'].str.contains('Ventura County'), 'begin_lat'] = 34.274647
d11.loc[d11['cz_name_str'].str.contains('Ventura County'), 'begin_lon'] = -119.229034

d11.loc[d11['cz_name_str'].str.contains('Santa Barbara County'), 'begin_lat'] = 34.420830
d11.loc[d11['cz_name_str'].str.contains('Santa Barbara County'), 'begin_lon'] = -119.698189

d11.loc[d11['cz_name_str'].str.contains('Mariposa County'), 'begin_lat'] = 37.487118
d11.loc[d11['cz_name_str'].str.contains('Mariposa County'), 'begin_lon'] = -119.967690

d11.loc[d11['cz_name_str'].str.contains('Los Angeles County'), 'begin_lat'] = 34.052235
d11.loc[d11['cz_name_str'].str.contains('Los Angeles County'), 'begin_lon'] = -118.243683

d11.loc[d11['cz_name_str'].str.contains('Inyo County'), 'begin_lat'] = 36.5110594
d11.loc[d11['cz_name_str'].str.contains('Inyo County'), 'begin_lon'] = -117.410588

d11

,event_id,cz_name_str,begin_location,begin_date,event_type,cz_fips,flood_cause,begin_lat,begin_lon,flood_impact_in_days
569,5517026,Inyo County,DEATH VLY JCT,2006-07-04,Flash Flood,27,Heavy Rain,36.511059,-117.410588,0
570,5524996,Inyo County,DEATH VLY,2006-09-07,Flash Flood,27,Heavy Rain,36.511059,-117.410588,0
1060,5439119,Los Angeles County,COUNTYWIDE,2005-01-09,Flash Flood,37,Heavy Rain,34.052235,-118.243683,1
1071,5525636,Los Angeles County,EAST CENTRAL PORTION,2006-07-22,Flash Flood,37,Heavy Rain,34.052235,-118.243683,0
1304,5504113,Mariposa County,YOSEMITE VLG,2006-04-03,Flood,43,Heavy Rain,37.487118,-119.96769,1
1305,5509838,Mariposa County,YOSEMITE VLG,2006-05-12,Flood,43,Heavy Rain,37.487118,-119.96769,0
1306,5509837,Mariposa County,YOSEMITE VLG,2006-05-14,Flood,43,Heavy Rain,37.487118,-119.96769,7
1307,5509835,Mariposa County,YOSEMITE VLG,2006-05-21,Flood,43,Heavy Rain,37.487118,-119.96769,1
3150,5438920,Santa Barbara County,SOUTH PORTION,2005-01-09,Flash Flood,83,Heavy Rain,34.42083,-119.698189,0
3753,5439118,Ventura County,COUNTYWIDE,2005-01-09,Flash Flood,111,Heavy Rain,34.274647,-119.229034,1
3757,5525637,Ventura County,NORTH CENTRAL PORTION,2006-07-24,Flash Flood,111,Heavy Rain,34.274647,-119.229034,0

In [70]:
d= pd.concat([d, d1, d11])
d

,event_id,cz_name_str,begin_location,begin_date,event_type,cz_fips,flood_cause,begin_lat,begin_lon,flood_impact_in_days
0,5482520,Alameda County,COUNTYWIDE,2005-12-31,Flood,1,Heavy Rain,37.65,-121.75,0
1,5486534,Alameda County,COUNTYWIDE,2006-01-01,Flood,1,Heavy Rain,37.65,-121.75,0
2,200004,Alameda County,ALAMEDA,2009-10-13,Flood,1,Heavy Rain,37.801,-122.2828,0
3,200003,Alameda County,PIEDMONT,2009-10-13,Flood,1,Heavy Rain,37.8204,-122.2576,0
4,200007,Alameda County,PLEASANTON,2009-10-13,Flood,1,Heavy Rain,37.6583,-121.8991,0
...,...,...,...,...,...,...,...,...,...,...
1306,5509837,Mariposa County,YOSEMITE VLG,2006-05-14,Flood,43,Heavy Rain,37.487118,-119.96769,7
1307,5509835,Mariposa County,YOSEMITE VLG,2006-05-21,Flood,43,Heavy Rain,37.487118,-119.96769,1
3150,5438920,Santa Barbara County,SOUTH PORTION,2005-01-09,Flash Flood,83,Heavy Rain,34.42083,-119.698189,0
3753,5439118,Ventura County,COUNTYWIDE,2005-01-09,Flash Flood,111,Heavy Rain,34.274647,-119.229034,1
3757,5525637,Ventura County,NORTH CENTRAL PORTION,2006-07-24,Flash Flood,111,Heavy Rain,34.274647,-119.229034,0

In [71]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3817 entries, 0 to 3757
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   event_id              3817 non-null   int64
 1   cz_name_str           3817 non-null   object
 2   begin_location        3817 non-null   object
 3   begin_date            3817 non-null   datetime64[ns]
 4   event_type            3817 non-null   object
 5   cz_fips               3817 non-null   int64
 6   flood_cause           3817 non-null   object
 7   begin_lat             3817 non-null   object
 8   begin_lon             3817 non-null   object
 9   flood_impact_in_days  3817 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 328.0+ KB

In [73]:
d.sort_values(by=['begin_date'], inplace=True)

In [74]:
d.reset_index(inplace=True, drop=True)
d.shape

(3817, 10)

In [75]:
d

,event_id,cz_name_str,begin_location,begin_date,event_type,cz_fips,flood_cause,begin_lat,begin_lon,flood_impact_in_days
0,5437987,Riverside County,SUN CITY,2005-01-03,Flash Flood,65,Heavy Rain,33.68333,-117.18333,0
1,5436478,Inyo County,DEATH VLY JCT,2005-01-03,Flash Flood,27,Heavy Rain,36.3,-116.41667,0
2,5438001,Riverside County,LAKE ELSINORE,2005-01-03,Flash Flood,65,Heavy Rain,33.7,-117.38333,0
3,5437645,Ventura County,COUNTYWIDE,2005-01-03,Flash Flood,111,Heavy Rain,34.48333,-118.05,0
4,5437646,Los Angeles County,COUNTYWIDE,2005-01-03,Flash Flood,37,Heavy Rain,34.33333,-118.36667,0
...,...,...,...,...,...,...,...,...,...,...
3812,1065830,Merced County,EL NIDO,2023-01-16,Flood,47,Heavy Rain,37.19,-120.56,0
3813,1065825,Kern County,KERNELL,2023-01-16,Flood,29,Heavy Rain,35.7752,-119.3025,0
3814,1069365,San Diego County,VALLEY CENTER,2023-01-16,Flash Flood,73,Heavy Rain,33.3136,-116.9836,0
3815,1065833,Tulare County,DINUBA SEQUOIA ARPT,2023-01-17,Flood,107,Heavy Rain,36.4589,-119.3305,0
3816,1074521,Orange County,RED HILL,2023-01-30,Flood,59,Heavy Rain,33.74,-117.83,0

In [76]:
os.listdir()

['county_fips.xlsx',
 'CA_floods_2005_2023.csv',
 'NOAA_Weather',
 'FimaNfipPolicies.csv',
 'noaa-ghcnd-stations.txt',
 'CA_flashFloods_2005_2023.csv']

In [77]:
os.chdir('..')

In [78]:
os.listdir()

['.DS_Store', 'raw_source', 'clean', 'AWS', 'raw', 'for_glue']

In [79]:
os.chdir('AWS')
os.listdir()

['glueInput', 'redshift tables']

In [80]:
os.chdir('glueInput')

In [81]:
os.listdir()

['caFimaNfipInsuranceRecordLevel2009to2022.csv',
 'caNoaaStationDayLevelWeather2005to2023.csv']

In [82]:
d.to_csv('caFloodEventsDayLevel.csv', index=False)

In [83]:
test1= pd.read_csv('caFimaNfipInsuranceRecordLevel2009to2022.csv')
test1

,id,policyEffectiveDate,policyYear,policyCost,policyCount,countyCode,fips_code,county_name,reportedZipCode,floodZone,latitude,longitude,occupancyType,floorsCount,totalBuildingInsuranceCoverage,totalContentsInsuranceCoverage,totalInsurancePremiumOfThePolicy
0,4e38a265-92ed-40ad-9fe2-b909180f3a86,2009-01-01,2009,296,1,6101,1,Alameda,95957,X,39.1,-121.9,1.0,1.0,150000.0,60000.0,283.0
1,5810ffbe-5d9f-4e72-8d9f-583f886bd153,2009-01-01,2009,348,1,6101,1,Alameda,95991,X,39.1,-121.6,1.0,1.0,250000.0,100000.0,335.0
2,1c38a91f-2bbf-4fe8-ac32-6d1f1fefe519,2009-01-01,2009,348,1,6101,1,Alameda,95993,X,39.1,-121.6,1.0,1.0,250000.0,100000.0,335.0
3,38bd25a3-2e61-473b-b198-33239988bb3a,2009-01-01,2009,348,1,6101,1,Alameda,95668,X,38.9,-121.5,1.0,1.0,250000.0,100000.0,335.0
4,3b6b6139-5e2a-42f8-8013-f0d4ee3f892e,2009-01-01,2009,348,1,6101,1,Alameda,95659,X,38.9,-121.6,1.0,1.0,250000.0,100000.0,335.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3311348,e648231a-87ab-40b2-ab63-43b366677e39,2022-05-03,2022,1836,1,6099,99,Stanislaus,95356,X,37.7,-121.0,18.0,1.0,500000.0,158000.0,1304.0
3311349,48f427fa-f9c5-4e35-a5ef-4c03030dee9c,2022-05-09,2022,998,1,6099,99,Stanislaus,95360,AO,37.3,-121.0,18.0,1.0,277000.0,75000.0,594.0
3311350,14c8bb3a-e3af-4f60-8f13-9c32852005fc,2022-05-11,2022,688,1,6099,99,Stanislaus,95360,X,37.3,-121.0,11.0,1.0,250000.0,100000.0,522.0
3311351,999e2d4b-8a18-47da-8223-306f13bb4434,2022-05-11,2022,702,1,6099,99,Stanislaus,95360,AO,37.3,-121.0,1.0,1.0,207000.0,0.0,534.0
3311352,68361284-e7ec-4122-9842-603a0d2bb793,2022-05-22,2022,1620,1,6099,99,Stanislaus,95356,X,37.7,-121.0,6.0,1.0,500000.0,158000.0,1121.0

In [84]:
test1.columns

Index(['id', 'policyEffectiveDate', 'policyYear', 'policyCost', 'policyCount',
       'countyCode', 'fips_code', 'county_name', 'reportedZipCode',
       'floodZone', 'latitude', 'longitude', 'occupancyType', 'floorsCount',
       'totalBuildingInsuranceCoverage', 'totalContentsInsuranceCoverage',
       'totalInsurancePremiumOfThePolicy'],
      dtype='object')

In [86]:
test2= pd.read_csv('caNoaaStationDayLevelWeather2005to2023.csv')
test2

,_c0,_c1,PRCP,SNOW,SNWD,TMAX,TMIN,lat,lng,state,county_name,fips_code
0,US1CAAL0001,20081007,0.0,0.0,NaN,NaN,NaN,37.8123,-122.2160,CA,Alameda County,1.0
1,US1CAAL0001,20081008,0.0,0.0,NaN,NaN,NaN,37.8123,-122.2160,CA,Alameda County,1.0
2,US1CAAL0001,20081009,0.0,0.0,NaN,NaN,NaN,37.8123,-122.2160,CA,Alameda County,1.0
3,US1CAAL0001,20081010,0.0,0.0,NaN,NaN,NaN,37.8123,-122.2160,CA,Alameda County,1.0
4,US1CAAL0001,20081011,0.0,0.0,NaN,NaN,NaN,37.8123,-122.2160,CA,Alameda County,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6591622,USW00094299,20230422,0.0,NaN,NaN,200.0,-27.0,41.4836,-120.5614,CA,Modoc County,49.0
6591623,USW00094299,20230423,0.0,NaN,NaN,194.0,50.0,41.4836,-120.5614,CA,Modoc County,49.0
6591624,USW00094299,20230424,0.0,NaN,NaN,167.0,-16.0,41.4836,-120.5614,CA,Modoc County,49.0
6591625,USW00094299,20230425,0.0,NaN,NaN,200.0,-38.0,41.4836,-120.5614,CA,Modoc County,49.0
6591626,USW00094299,20230426,0.0,NaN,NaN,250.0,-22.0,41.4836,-120.5614,CA,Modoc County,49.0

In [87]:
test2.columns

Index(['_c0', '_c1', 'PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN', 'lat', 'lng',
       'state', 'county_name', 'fips_code'],
      dtype='object')